
<div class="mt-5 mb-5 container-fluid" style="font-family: 'Montserrat' !important">
    <div class="row" style="display: flex; max-width: 68%; margin: auto;">
        <div class="twoCard" style="color: white; ">
            <div class=" text-right" style="margin-top: 310px; padding: 15px;">
                <b>Traverse Healthcare</b>
            </div>
        </div>
        <div class="twoCardd text-center ">
            <div style="margin-top: 150px;">
                <div>
                    <img src="../../assets/mainLogo.png" height="50px" width="50px" alt="">
                </div>
                <div style="margin-top: 25px; font-size: 26px;">
                    <h5> Please Enter the Pin which was sent to your Registered Email I'd.</h5>
                </div>
                <div style="margin-top: 40px;">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="PIN" [formControl]="pinFormControl">
                        <mat-error *ngIf="pinFormControl.hasError('required')">
                            Pin is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <br>
                    &nbsp;
                    <button class="btn btn-primary" [disabled]="!pinFormControl.valid" (click)="onSubmit($event)">
                        Submit
                        <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>