.claim-inline {
    display: inline;
    float: right;
}

.inner1 {
    float: left;
}

.inner2 {
    float: left;
    clear: left;
    /* padding: 5px */
}

.highlight {
    color: rgb(58, 171, 241)
}