.claim-inline {
    display: inline;
    float: right;
}

.inner1 {
    float: left;
}

/* .ch-1 {
    background-color: #d7dce2;
    color: black;
} */

.cardHead {
    font-size: 24px;
    margin-bottom: 0 !important;
}

.inner2 {
    float: left;
    clear: left;
    /* padding: 5px */
}

.highlight {
    color: rgb(58, 171, 241)
}

.ch-1 {
    background-color: #00000024;
    color: white;
}
.card {
    background-color: #00000024;
}
.bgWhite{
    color: white;
}