<div class="card mt-5 mb-5">
    <div class="card-header ch-1">
        <div class="row ">
            <div class="col justify-content-start">
                <p class="cardHead">
                    Insurance Central
                </p>
            </div>
            <div class="col justify-content-end">
                <img src="../../assets/newhealthIns.png"
                    style="height: 35px; width: 35px; float: right; mix-blend-mode: multiply" />
            </div>
        </div>
    </div>
    <div class="card-body">
        <table style="width:100%; height:100%">
            <tr>
                <td>
                    <p class="bgWhite font-weight-bold">
                        Your {{date}} Plan Summary
                    </p>
                    <hr size="20" style="height:0.5em; background-color: #4d4d4d6b;">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #b3b3b3; padding: 0px; margin: 0px;">
                                    <div>
                                        ${{totalDeductable}}
                                        <div style="display: block; width: 100%; height: 100%;">
                                            <canvas style="object-fit: contain" baseChart [datasets]="barChartData"
                                                [labels]="barChartLabels" [options]="barChartOptions"
                                                [legend]="barChartLegend" [chartType]="barChartType">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #474747">
                                    YTD Health Costs
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #75b6eb">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #0047a3">
                                    Your Payments
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #86ee8f; align-content: center">
                                    <div style="width: auto; height: auto;">
                                        <canvas style="object-fit: contain;" baseChart [datasets]="deductChartData"
                                            [labels]="deductChartLabels" [options]="deductChartOptions"
                                            [legend]="deductChartLegend" [chartType]="deductChartType">
                                        </canvas>
                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #027c1c">
                                    Your Deductibles
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card" style="height: 100%">
                                <div class="card-body" style="background-color: #ffffff">
                                    <div *ngIf="claims">
                                        <div *ngIf="claims.length > 1">
                                            <b>{{claims.length}}</b> Doctor Visits
                                        </div>

                                        <div *ngIf="claims.length <= 1">
                                            <b>{{claims.length}}</b> Doctor Visit
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer text-white" style="background-color: #000000">
                                    Your Claims
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <div class="mt-4" style="width: 100%">

            </div>
            <tr>
                <td>
                    <p class="bgWhite font-weight-bold">
                        Your Claims Data
                    </p>
                    <hr size="20" style="height:0.5em; background-color: #4d4d4d6b">
                    <!-- <div class="row claim" style="width: 75%; float: left">
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="height: 100%">
                                <div class="card-header text-white" style="background-color: #00236e">
                                    YTD Health Costs
                                </div>
                                <div class="card-body" style="background-color: #ffffff">
                                    <div>
                                        $17,497
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let claim of claims; index as i">
                                    <div class="card mt-2">
                                        <div class="card-header font-weight-bold text-center text-white"
                                            style="background-color: #1a6dda; height: 3em; ">
                                            {{claim.date | date: 'MMMM dd, yyyy'}}
                                        </div>
                                        <div class="card-body">
                                            <div class="text-center">
                                                <p class="text-white">
                                                    {{claim.hospital}}
                                                </p>
                                                <table style="align-self: center; width: 100%" class="text-white">
                                                    <tr style="width: 100%">
                                                        <td>
                                                            Total
                                                        </td>
                                                        <td style="color: #ffffff; ">
                                                            ${{claim.totalAmount}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            You Paid
                                                        </td>
                                                        <td>
                                                            ${{claim.paidAmount}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <table style="float: right">
                                                <tr>
                                                    <td class="p-2">
                                                        <i class="fa fa-share-alt-square fa-x"
                                                            style="color: rgb(15, 73, 233); font-size: 20px;"></i>
                                                    </td>
                                                    <td class="p-2">
                                                        <i class="fa fa-file fa-x" aria-hidden="true" style="color: rgb(181, 184, 192); font-size: 20px;"></i>
                                                    </td>
                                                    <td class="p-2">
                                                        <i class="fa fa-comments fa-2x" style="color: rgb(30, 218, 70); font-size: 20px;"></i>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3" style="align-self: center"
                                    *ngFor="let patient of patientsListAll; let i = index">
                                    <div class="text-center "><a><i (click)="setRow(i, patient)"
                                                [ngClass]="{'highlight': selectedIndex === i}" class="fa fa-user fa-2x"
                                                aria-hidden="true" style="cursor: pointer;"></i></a></div>
                                    <!-- <div class="inner2" style="padding-right: 1px"></div> -->
                                    <div class="inner2 text-white font-weight-bold"
                                        *ngIf="patient.pid == patientId; else others">You</div>
                                    <ng-template #others>
                                        <div class="inner2">
                                            {{patient.patientName.split(" ")[0]}}
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3" style="align-self: center">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Year to Date"
                                            (dateChange)="dateInput($event.value)" [formControl]="dateFormControl">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="claim-inline" style="width: 25%">
                        Values
                    </div> -->
                </td>
            </tr>

        </table>
    </div>
</div>