<div class="card mt-5 mb-5">
    <div class="card-header">
        <div class="row ">
            <div class="col justify-content-start">
                <p class="cardHead" style="font-size: 24px; margin-bottom: 0 !important;">
                    Patient View
                </p>
            </div>
            <div class="col justify-content-end">
                <img src="../../assets/patientView/patientViewLogo.jpg"
                    style="height: 40px; width: 40px; float: right; mix-blend-mode: multiply" />
            </div>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <div class="row">
                    <div class="col-sm-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr *ngFor="let p of [
                                {url: '../../assets/patientView/records.png', name: 'Medical Record'},
                                {url: '../../assets/patientView/er.png', name: 'Imaging'},
                                {url: '../../assets/patientView/tablets.png', name: 'Medication'},
                                {url: '../../assets/patientView/flask.png', name: 'Labs'}]">
                                    <td>
                                        <a href="#">
                                            <!-- <i class="fa fa-flask" aria-hidden="true"></i> -->
                                            <img src="{{p.url}}" alt="Image not available"
                                                style="height: 90px; width: 90px;">
                                            <br />{{p.name}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Patient Summary</p>
                            </div>
                            <div class="col-md-6 inner-addon right-addon">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Find Patient" [(ngModel)]="searchText" style="width:250px; float:right" />
                            </div>
                        </div>
                        <div class="verLine"></div>

                        <div class="mt-2">
                                <!-- | filter: searchText; let i = index -->
                            <div class="alert alert-primary text-center" *ngFor="let patient of patientsDetails | filter: searchText; let i = index"
                                role="alert">
                                <div class="row">
                                    <div class="col-md-1">
                                        <ngx-avatar src={{patient.imageUrl}} name={{patient.name}} size="30">
                                        </ngx-avatar>
                                    </div>
                                    <div class="col-md-3">
                                        {{patient.name}}
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-calendar-plus-o " style="color: black;" aria-hidden="true"></i>
                                        {{patient.appointment}}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <i class="fa fa-plus-circle" style="color: black;" aria-hidden="true"></i>
                                        </div>
                                        <div class="row">
                                            {{patient.prespcriptions}} Prespcriptions
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <i class="fa fa-comments fa-stack-2x" style="color: black;"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="alert alert-success text-center" role="alert">
                            <i class="fa fa-2x fa-calendar " style="float: left;"></i>
                            <span class="mr-5 ">
                                Appointment with Dr.Stout on 06/23/19
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-map-marker mr-2"></i>
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-clock-o mr-2"></i>
                            </span>
                        </div>
                        <div class="alert alert-orange text-center" role="alert">
                            <i class="fa fa-2x fa-file" style="float: left;"></i>
                            <span class="mr-5 ">
                                Medical Record last updated on 02/03/19
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-cloud-download mr-2"></i>
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-eye mr-2"></i>
                            </span>

                        </div>
                        <div class="alert alert-warning text-center" role="alert">
                            <i class="fa fa-2x fa-plus" style="float: left;"></i>
                            <span class="mr-5 ">
                                Rx for Keflex on 01/12/19
                            </span>
                            <span style="float: right;">
                                <i class="fa fa-question-circle mr-2"></i>
                            </span>
                        </div> -->
                        </div>
                    </div>
                </div>
            </table>
        </div>
    </div>