<div class="container">
    <div class="row">
        <div style="width:96%;">
            <h4>Patient Profile</h4>
        </div>

        <span style="float: right; cursor: pointer;" (click)="onNoClick()">
            <i class="fa fa-times"></i>
        </span>
    </div>

    <div class="row">

        <div style="width: 100%;" class="mt-2">
            <form class="ml-2">
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="PatientName" [formControl]="patientNameFormControl">
                            <mat-error *ngIf="patientNameFormControl.hasError('required')">
                                Patient Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Relation</mat-label>
                            <mat-select [(value)]="selected" (selectionChange)="changeRelation($event.value)">
                                <mat-option value="Father">Father</mat-option>
                                <mat-option value="Mother">Mother</mat-option>
                                <mat-option value="Daughter">Daughter</mat-option>
                                <mat-option value="Son">Son</mat-option>
                                <mat-option value="Other">Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="Height" type="text" [formControl]="heightFormControl">
                            <mat-error *ngIf="heightFormControl.hasError('required')">
                                Height is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="Weight" type="text" [formControl]="weightFormControl">
                            <mat-error *ngIf="weightFormControl.hasError('required')">
                                Weight is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div>
                    <button mat-raised-button class="btn-secondary"
                        (click)="patientProfile(patientNameFormControl, heightFormControl, weightFormControl)"
                        [disabled]="!(patientNameFormControl.valid)">Add Patient Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>