<div class="wrapper">
  <div class="container-fluid">
    <div class="navbar">
      <img src="../../assets/newmainLogo.png" [routerLink]="['landing']" class="img-center" alt="">
      <div style="text-align: center;">
        <p style=" font-weight:bolder; font-size: 26px; text-align:center; color: white;">
          MOTION
        </p>
      </div>       
      <div style="text-align: center;">
      </div>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <label class="myLabel">
        <input type="file" (change)="backGroundImageChange($event.target)" required />
        <span>Set BackGround Image</span>
      </label></button>
    <button mat-menu-item>Other Settings</button>
    <button mat-menu-item (click)="openDialog()">Add Patient Profile</button>
  </mat-menu>
  
</div> 

