<div class="wrapper">
  <div class="container">
    <div class="navbar">
      <img src="../../assets/logo.png" [routerLink]="['/landing']" class="img-center" alt="">
      <p style="float: left; color: white; font-weight: 600; font-size: 22px; display: contents;">
        Motion
      </p>
      
      <div >
          <span  class="fa fa-user cursor-pointer" style="margin-right: 8px; color: white; font-size: 22px;">
            </span>
          <span  class="fa fa-gear cursor-pointer" mat-button [matMenuTriggerFor]="menu" style="margin-right: 8px; color: white; font-size: 22px;">
            </span>
          <span [routerLink]="['/']" class="fa fa-sign-out cursor-pointer" style="float: right; color: white; font-size: 22px;">
            </span>
      </div>   
    </div> 
  </div>
  <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <label class="myLabel">
          <input type="file" (change)="backGroundImageChange($event.target)" required/>
          <span>Set BackGround Image</span>
      </label></button>
      <button mat-menu-item>Other Settings</button>
    </mat-menu>
</div>
