.ch-1 {
    /* background-color: #d7dce2;
    color: black; */
    background-color: #00000024;
    color: white;
}

.card-header {
    background-color: #00000024;
}


.bgWhite {
    color: white;
}


.card {
    background-color: #00000024;
}
.mat-card {
    background-color: #8a7d7d24;
}

.fitLogo {
    height: 45px;
    width: 45px;
    mix-blend-mode: multiply;
}

.topic {
    background-color: #00000024;
    color: white;
    padding: 4px;
    width: 154px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.cardHead {
    font-size: 24px;
    margin-bottom: 0 !important;
}

.appName {
    font-size: 14px;
    font-weight: bold;
}

.vertical {
    border-right: 4px solid grey;
    height: auto;
}