<div class="card mt-3 mb-3">
    <div style="overflow-y: auto; overflow-x: hidden;">
        <div class="card-header ch-1">
            <div class="row ">
                <div class="col justify-content-start">
                    <p class="cardHead">
                        Records - Provider
                    </p>
                </div>
                <div class="col justify-content-end">
                    <img src="../../assets/icons-home/records.png"
                        style="height: 35px; width: 35px; float: right; mix-blend-mode: multiply" />
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <div class="row">
                    <div class="col-sm-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <a [routerLink]='["Visits"]' class="bgWhite"><i class="fa fa-user-md fa-4x"
                                                routerLinkActive="activeClass" aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Visits</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a [routerLink]='["Imaging"]' class="bgWhite"><i
                                                class="fa fa-file-image-o fa-4x" routerLinkActive="activeClass"
                                                aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Imaging</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a [routerLink]='["Labs"]' class="bgWhite"><i class="fa fa-flask fa-4x"
                                                routerLinkActive="activeClass" aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Labs</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a [routerLink]='["Records"]' class="bgWhite"><i class="fa fa-book fa-4x"
                                                routerLinkActive="activeClass" aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Records</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-10">
                        <router-outlet>
                        </router-outlet>
                    </div>
                </div>
            </table>
        </div>
    </div>
</div>