<div class="card mt-3 mb-3" style="height: 600px;">
    <div style="overflow-y: auto;">
        <div class="card-header ch-1">
            <div class="row ">
                <div class="col justify-content-start">
                    <p class="cardHead">
                        Mobile Fitness
                    </p>
                </div>
                <div class="col justify-content-end">
                    <img src="../../assets/newfitness.png" style="height: 35px; width: 35px; float: right;" />
                </div>
            </div>
        </div>
        <div class="card-body">
            <div style="display: flex;">
                <span style="color: white;">My Devices : </span>
                <div style="display: flex;" *ngFor=" let app of apps">
                    <div class="ml-5 mr-5 cursor-pointer text-align-center" (click)="openAppInfo(app)">
                        <img src="{{app.url}}" alt="Image not available" class="fitLogo" />
                        <p style="color: white;" class="mt-2">{{app.appName}}</p>
                    </div>
                </div>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>