<div class="card mt-3 mb-3" style="height: 600px; width: 100%;">
    <div style="overflow-y: auto; overflow-x: hidden;">
        <div class="card-header ch-1">
            <div class="row ">
                <div class="col justify-content-start">
                    <p class="cardHead">
                        Documents
                    </p>
                </div>
                <div class="col justify-content-end">
                    <img src="../../assets/newHealthdocs.png"
                        style="height: 35px; width: 35px; float: right; mix-blend-mode: multiply" />
                </div>
            </div>
        </div>
        <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <a [routerLink]='["Personal"]' class="bgWhite"><i class=" fa fa-user fa-4x"
                                                routerLinkActive="activeClass newClass"
                                                aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Personal</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a [routerLink]='[ "Insurance"]' class="bgWhite"><i
                                                class="fa fa-file-text fa-4x" routerLinkActive="activeClass newClass"
                                                aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Insurance</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a [routerLink]='["Family"]' class="bgWhite"><i class="fa fa-users fa-4x"
                                                routerLinkActive="activeClass newClass"
                                                aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Family</span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a [routerLink]='["Travel"]' class="bgWhite"><i class="fa fa-map-marker  fa-4x"
                                                routerLinkActive="activeClass newClass"
                                                aria-hidden="true"></i><br /><span
                                                routerLinkActive="activeClassText">Travel</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-10">
                        <router-outlet>
                        </router-outlet>
                    </div>
                </div>
        </div>
    </div>
</div>