.card-body {
    padding: 0;
    margin: 0;
    /* background-color: gray; */
    height: 100%;
}
.bgWhite{
    color: white;
}

/* .ch-1 {
    background-color: #d7dce2;
    color: black;
} */
.ch-1 {
    background-color: #00000024;
    color: white;
}

.cardHead {
    font-size: 24px;
    margin-bottom: 0 !important;
}

.card {
    background-color: #00000024;
}

.col-sm-10 {
    border-left: 12px solid RGB(84, 120, 168);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
}

.row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

::placeholder {
    font-style: italic;
}

i {
    color: RGB(29, 85, 110);
    text-decoration-color: RGB(99, 107, 106);
}

a {
    color: RGB(99, 107, 106);
}

.row {
    overflow: hidden;
}

.table {
    height: 100%;
    padding: 0;
    margin: 0;
}

td {
    align-content: center;
    text-align: center;
}

.fileContent {
    width: 160px;
}

.delete-file {
    color: red;
    float: right;
    align-content: center;
    text-align: center;
}

.activeClass {
    color: #bdd2f3
}

.activeClassText {
    color: #bdd2f3;
    font-weight: bolder;
    text-decoration:none;
}

/* .fa{
    color: rgb(221, 195, 195);
} */