<div class="mt-3 mb-3 container-fluid" style="font-family: 'Montserrat' !important">
    <div class="row" style="display: flex; max-width: 68%; margin: auto;">
        <div class="twoCard" style="color: white; ">
            <div class=" text-right" style="margin-top: 310px; padding: 15px;">
                Welcome to
                <b>Traverse Healthcare</b>
            </div>
        </div>
        <div class="twoCardd text-center ">
            <div style="margin-top: 80px;">
                <div>
                    <img src="../../assets/mainLogo.png" height="50px" width="50px" alt="">
                </div>
                <div style="margin-top: 25px; font-size: 26px;">
                    <h5>Login to your Account</h5>
                </div>
                <div style="margin-top: 40px;">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username" [formControl]="emailFormControl">
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>

                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl">
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field><br>
                    <button class="btn btn-primary" [disabled]="!(emailFormControl.valid && passwordFormControl.valid)"
                        (click)="onSubmit($event)">
                        Login
                        <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                    <div class="text-center cursor-pointer">
                        <a style="font-size: 16px; color: rgb(14, 54, 233);" [routerLink]="['/forgotPassword']">Forgot
                            Password?</a>

                    </div>
                </div>
                <div>
                    <div class="text-center" style="margin-top: 120px; color: rgb(0, 0, 0);">
                        <span style="font-size: 20px;">Don't have an Account? </span>
                        <a [routerLink]="['/signUp']" style="font-weight: bold;font-size: 20px;">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>