.alert-content {

    text-align: center
}

.bgCard {
    /* background-image: url(../../assets/bg.jpg) !important; */
    background-color:rgb(127, 180, 224);
    /* color: white; */
    height: 300px !important;
}

.loginCard {
    height: 300px !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}