<div class="animated fadeIn mt-5">
    <!--Recommended apps Begin-->
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-header ch-0">
                <div class="row">
                    <div class="col">
                        Medication
                    </div>
                    <div class="col">
                        <img src="assets/icons-home/motion07.png" height="45px" width="45px" style="float: right"
                            alt="Image Not Available">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 m-4" *ngFor="let app of apps; let i = index">
                    <div class="card h-100" [style.background-color]="app.color">
                        <div class="card-header font-weight-bold ch-1"
                            style="background-color:whitesmoke; display:flex;">
                            <div style="width: 100%">
                                {{app.medication}}
                                <span style="float: right;" *ngIf="app.medicationIndication === 'warn'"><i
                                        class="fa fa-exclamation-triangle" style="color: darkgoldenrod"></i></span>
                            </div>
                        </div>
                        <div *ngIf="i != 0; else addMedication" class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img mat-card-md-image src="{{app.medicationImage}}" height="80px" width="100px"
                                        alt="Image Not Available">
                                </div>
                                <div class="col" style="width: 100%">
                                    <span>
                                        <i class="fa fa-clock-o" style="font-size: 50px; color: red; "
                                            aria-hidden="true"></i>
                                    </span>
                                    <span>
                                        <p style="font-size: 12px; height: 30px;">
                                            {{app.medicationSchedule}} a day
                                        </p>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12 ">
                                    {{app.medicationDetails}}
                                </div>
                                <div class="col-md-12">
                                    <i class="fas fa-spider-web"></i> <a href="http://www.google.com"
                                        style="font-size: 12px"><i class="fa fa-external-link" aria-hidden="true"></i>
                                        Learn
                                        More </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="i != 0; ">
                            <div class="col">
                                <div style="float: right;">
                                    <span>
                                        <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-refresh mr-2" aria-hidden="true"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-calendar-plus-o mr-2" aria-hidden="true"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-trash mr-2" (click)="removeMedication(i)"
                                            aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ng-template #addMedication>
                            <div class="row justify-content-center align-items-center"
                                style="color: gray; height: 100%;">
                                <div class=" align-items-center">
                                    <i class="fa fa-plus-circle" aria-hidden="true" style=" font-size: 50px; "></i>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>