/* .example-margin {
    /* margin: 10px; 
  } */
.editFlag {
    padding-bottom: 0%;
    margin: auto;
}

.editTrue {
    border-bottom: 2px dotted black;
    padding-bottom: 0%;
    margin: auto;
}

.mat-slider-horizontal {
    width: 198px;
}

.card-body {
    height: auto;
}

.ch-0 {
    background-color: #9ba6b4;
    color: black;
    /* font-size: 24px; */
    font-weight: normal;
}

.card {
    background-color: #00000024;
}

.ch-1 {
    background-color: #00000024;
    color: white;
}


/* .ch-1 {
    background-color: #d7dce2;
    color: black;
} */

.ch-3 {
    background-color: rgb(156, 156, 156);
    color: white;

}

.ch-2 {
    background-color: rgb(65, 118, 168);
    color: white;

}

.ch-4 {
    background-color: rgb(180, 80, 80);
    color: white;

}

mat-form-field {
    border-top: 0px !important;
    padding: 0px !important;
}

::ng-deep .mat-form-field {
    line-height: 1;

}

::ng-deep.mat-slider-horizontal .mat-slider-wrapper {
    /*change color of label*/
    color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-slider-track-wrapper .mat-slider-ticks-container {
    /*change color of underline*/
    color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-slider-focus-ring .mat-slider-thumb {
    /*change color of underline*/
    background-color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-slider-thumb-label {
    /*change color of underline when focused*/
    background-color: rgb(255, 255, 255) !important;

}

::ng-deep.mat-slider-thumb-label-text {
    /*change color of underline when focused*/
    color: rgb(255, 255, 255) !important;

}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(255, 255, 255) !important;
    ;
}