<div class="animated fadeIn mt-5">
    <!--Recommended apps Begin-->
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-header font-weight-bold ch-1" style="font-size: 120%">
                Medication
            </div>
            <div class="card-header font-weight-bold ch-1" style="background-color:whitesmoke">
                <div class="row" style="padding: 30px;">
                    <div class="col-md-3 col-sm-6 py-2" *ngFor="let app of apps; let i = index">
                        <div class="card h-100" [style.background-color]="app.color">
                            <div class="card-header font-weight-bold ch-1" style="background-color:whitesmoke">
                                {{app.medication}} <i style=" position: absolute; right: 14px;"
                                    class="fa fa-exclamation-triangle"></i>
                            </div>
                            <div *ngIf="i != 0; else addMedication">
                                    <div class="row" style="">
                                        <div class="col-md-6 col-sm-6"
                                            style="bottom: 43px; right: 40px; position: relative; padding-left: 58px; padding-top: 50px">
                                            <img mat-card-md-image src="{{app.medicationImage}}" height="80px"
                                                alt="Image Not Available">
                                        </div>
                                        <div class="col-md-6 col-sm-6"
                                            style="bottom: 43px; left: 40px; position: relative; padding-top: 54px;">
                                            <i class="fa fa-clock-o" style="font-size: 50px; color: red; "
                                                aria-hidden="true"></i>
                                            <span
                                                style="font-size: 10px; display: table-caption">{{app.medicationSchedule}}</span>
                                        </div>
                                        <div class="col-md-12 ">
                                                {{app.medicationDetails}}
                                            </div>
                                            <div class="col-md-12" style="bottom: 0px; position: relative;">
                                                <i class="fas fa-spider-web"></i> <a href="http://www.google.com"
                                                    style="font-size: 12px"><i class="fa fa-external-link" aria-hidden="true"></i>
                                                    Learn
                                                    More </a>
                                            </div>
                                    </div>

                                <div class="row">
                                        <div class="col-md-6 col-sm-6" style="bottom: 6px; left: 130px;">
                                            <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
                                            <i class="fa fa-refresh mr-2" aria-hidden="true"></i>
                                            <i class="fa fa-calendar-plus-o mr-2" aria-hidden="true"></i>
                                            <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                                        </div>
                                    </div>
                            </div>

                            <ng-template #addMedication>
                                    <div class="row" style="color: gray; text-align: center"  >
                                        <div class="col-md-6 col-sm-6 " >

                                            <i class="fa fa-plus-circle" aria-hidden="true"
                                                style=" font-size: -webkit-xxx-large; position: relative;"></i>
                                        </div>
                                    </div>
                            </ng-template>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>