<div class="container">
    <div class="row" style="display: flex; margin: auto;">
        <div class="text-center">
            <div>
                <div style="margin-top:20px;font-size: 22px; color: white;">
                    <h5>Change Password</h5>
                </div>
                <div class="mt-2">
                    <form>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                                [formControl]="passwordFormControl">
                            <mat-icon matSuffix (click)="hide = !hide" style="color: white;font-size: 16px; cursor: pointer;">
                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-icon matSuffix matTooltip="Password is required"
                                *ngIf="passwordFormControl.hasError('required')"
                                style="color: #556e6d;font-size: 16px;">
                                info </mat-icon>
                            <mat-icon matSuffix matTooltip="Password must be at least 8 characters long."
                                *ngIf="passwordFormControl.hasError('minlength')"
                                style="color: #556e6d;font-size: 16px;">
                                info </mat-icon>
                            <mat-icon matSuffix matTooltip="Password can be max 16 characters long."
                                *ngIf="passwordFormControl.hasError('maxlength')"
                                style="color: #556e6d;font-size: 16px;">
                                info </mat-icon>
                            <mat-icon matSuffix
                                matTooltip="Password must contain one small letter, one capital letter and one number."
                                *ngIf="!passwordFormControl.hasError('minlength') && passwordFormControl.hasError('pattern')"
                                style="color: #556e6d;font-size: 16px;">
                                info </mat-icon>
                            <!-- <span style="color: #556e6d; font-size: 12px;"
                                *ngIf="passwordFormControl.hasError('required')" matSuffix mat-icon-button
                                matTooltip="Password is required">
                                <mat-icon>info</mat-icon>
                            </span>
                            <span style="color: #556e6d; font-size: 12px;"
                                *ngIf="passwordFormControl.hasError('minlength')" matSuffix mat-icon-button
                                matTooltip=" Password must be at least 8 characters long.">
                                <mat-icon>info</mat-icon>
                            </span>
                            <span style="color: #556e6d; font-size: 12px;"
                                *ngIf="passwordFormControl.hasError('maxlength')" matSuffix mat-icon-button
                                matTooltip="  Password can be max 16 characters long.">
                                <mat-icon>info</mat-icon>
                            </span>
                            <span style="color: #556e6d; font-size: 12px;"
                                *ngIf="!passwordFormControl.hasError('minlength') && passwordFormControl.hasError('pattern')"
                                matSuffix mat-icon-button
                                matTooltip="Password must contain one small letter, one capital letter and one number.">
                                <mat-icon>info</mat-icon>
                            </span> -->
                        </mat-form-field>

                        <!-- <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                                [formControl]="passwordFormControl">
                            <mat-icon matSuffix (click)="hide = !hide" style="font-size: 16px;">
                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="passwordFormControl.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field> -->
                        <br>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirm Password" [type]="cfhide ? 'password' : 'text'"
                                [formControl]="cfpasswordFormControl">
                            <mat-icon matSuffix (click)="cfhide = !cfhide" style="color: white;font-size: 16px; cursor: pointer;">
                                {{cfhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="cfpasswordFormControl.hasError('required')">
                                Confirm Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="cfpasswordFormControl.hasError('notSame')">
                                Passwords must be <strong>same</strong>
                            </mat-error>
                        </mat-form-field>

                        <!-- <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'"
                                [formControl]="cfpasswordFormControl">
                            <mat-icon matSuffix (click)="hide = !hide" style="font-size: 16px;">
                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                            <mat-error *ngIf="cfpasswordFormControl.hasError('required')">
                                Confirm Password is <strong>required</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="passwordFormControl != cfpasswordFormControl && !cfpasswordFormControl.hasError('required')">
                                Passwords must be <strong>same</strong>
                            </mat-error>
                        </mat-form-field> -->
                        <br>
                        <div class="mt-4">
                            <button mat-raised-button class="btn-secondary"
                                (click)="changePassword(passwordFormControl, cfpasswordFormControl)">Update
                            </button>
                            &nbsp;
                            <button mat-raised-button class="btn-info" (click)="cancelEdit()">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>