.bgbb:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cardHead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.ch-0 {
    background-color: rgb(235, 162, 52);
    color: white;
}
.bgWhite{
    /* background-color: rgb(235, 162, 52); */
    color: white;
}

.card {
    background-color: #00000024;
}

.ch-1 {
    background-color: #00000024;
    color: white;
}

/* .ch-1 {
    background-color: #d7dce2;
    color: black;
} */

.ch-3 {
    background-color: #4981c73b;
    color: white;

}

.cardNew{
    background-color: #847b7b6e
}

.ch-2 {
    background-color: #8fa1b16b;
    color: white;

}

.ch-4 {
    background-color: #b34b4b42;
    color: white;

}
.ch-5 {
    background-color: #a3bbd063;
    color: white;

}
.ch-4 {
    background-color: #b34b4b42;
    color: white;

}
.card-footer{
    background-color: rgba(0,0,0, 0) !important;
}
.editTrue {
    border-bottom: 2px dotted black;
  }