.bgbb:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cardHead {
    font-size: 24px;
    margin-bottom: 0 !important;
}

.ch-0 {
    background-color: rgb(235, 162, 52);
    color: white;
}

.card {
    background-color: #00000024;
}

.ch-1 {
    background-color: #00000024;
    color: white;
}

/* .ch-1 {
    background-color: #d7dce2;
    color: black;
} */

.ch-3 {
    background-color: rgb(96, 107, 117);
    color: white;

}

.ch-2 {
    background-color: rgb(65, 118, 168);
    color: white;

}

.ch-4 {
    background-color: rgb(180, 80, 80);
    color: white;

}