<p mat-dialog-title style="font-size: 18px; font-weight: bold;">Medicine</p>
<div mat-dialog-content>

    <mat-form-field>
        <input matInput placeholder="Medicine Name" [formControl]="name" required>
    </mat-form-field>
    &nbsp;

    <button class="btn btn-secondary" (click)="fileInput.click()">
        <span>Choose file</span>
        <input #fileInput type="file" (change)="imageInput($event)" style="display:none;" />
    </button>
    <span *ngIf="fileName">
        {{fileName}}
    </span>
    <br>
    <mat-form-field style="width: 100%;">
        <textarea matInput placeholder="Description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            [formControl]="description" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" required></textarea>
    </mat-form-field>
    &nbsp;

</div>
<div mat-dialog-actions>
    <div style="text-align: center; width: 100%;">
        <button mat-icon-button color="primary" (click)="addMedication()"
            [disabled]="name.errors || description.errors || fileName.value ==''">
            <mat-icon [ngStyle]="{'color':'green'}">check_circle_outline
            </mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="cancel()">
            <mat-icon [ngStyle]="{'color':'red'}">highlight_off</mat-icon>
        </button>
    </div>
</div>