<h5 mat-dialog-title>Medicine</h5>
<div mat-dialog-content>

    <mat-form-field style="color: black;">
        <input matInput placeholder="Medicine Name" [(ngModel)]="name" required>
    </mat-form-field> 
    &nbsp;
    <mat-form-field style="color: black;">
        <input matInput placeholder="Description" [(ngModel)]="description" type="text">
    </mat-form-field>
    &nbsp;

    <button class="btn btn-secondary" (click)="fileInput.click()">
        <span>Choose file</span>
        <input #fileInput type="file" (change)="imageInput($event)" style="display:none;" />
    </button>
    <span *ngIf="fileName">
        {{fileName}}
    </span>

</div>
<div mat-dialog-actions>
    <div style="text-align: center; width: 190px;">
        <button mat-icon-button color="primary" (click)="successAdding()"
            aria-label="Example icon-button with a heart icon">
            <mat-icon [ngStyle]="{'color':'green'}">check_circle_outline
            </mat-icon>
            <!-- [disabled]="medMeal.errors || medName.errors || medDesc.errors || medIntake.value ==''" -->
        </button>
        <button mat-icon-button color="primary" (click)="onNoClick()"
            aria-label="Example icon-button with a heart icon">
            <mat-icon [ngStyle]="{'color':'red'}">highlight_off</mat-icon>
        </button>
    </div>
</div>