<!-- <div class="card"> -->
<div class="card-body">
    <div style="display: flex;width: 1000px;justify-content: center;">
        <div class="example-card mr-4"
            style="padding: 10px 2px;border-radius: 5px;box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
            <!-- <mat-card class="example-card" style="font-family: 'Montserrat', sans-serif; font-weight: 600;"> -->
            <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels" [legend]="false"
                [options]="lineChartOptions" [colors]="lineChartColors2" [chartType]="lineChartType"></canvas>
            <!-- </mat-card> -->
            <div class="example-card-base mt-4">
                <span class="bgwhite font-weight-bolder">Sleep Pattern</span>
                <div style="float: right" class="mr-2">
                    <span class="fa fa fa-comments text-muted cursor-pointer"></span>
                    &nbsp;
                    <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                </div>
            </div>
        </div>
        <div class="example-card"
            style="padding: 10px 2px;border-radius: 5px;box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
            <!-- <mat-card class="example-card" style="font-family: 'Montserrat', sans-serif; font-weight: 600;"> -->
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
            <!-- </mat-card> -->
            <div class="example-card-base mt-4">
                <span class="bgwhite">Sleep Tracker</span>
                <div style="float: right" class="mr-2">
                    <span class="fa fa fa-comments text-muted cursor-pointer"></span>
                    &nbsp;
                    <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex;width: 1000px;justify-content: center;" class="mt-4">
        <div class="example-card mr-4"
            style="padding: 5px 3px;border-radius: 5px;box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
            <!-- <mat-card class="example-card" style="font-family: 'Montserrat', sans-serif; font-weight: 600;"> -->
            <!-- <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels" [legend]="false"
                        [options]="lineChartOptions" [colors]="lineChartColors2" [chartType]="lineChartType"></canvas> -->
            <table style="width: 382px;">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                In Bed
                            </p>
                        </td>
                        <td>
                            <p>
                                12.53 AM - 7.00 AM
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Sleep Quality
                            </p>
                        </td>
                        <td>
                            <p>
                                66 %
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Time in Bed
                            </p>
                        </td>
                        <td>
                            <p>
                                6:06
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Snore
                            </p>
                        </td>
                        <td>
                            <p>
                                0 min
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Sleep Notes
                            </p>
                        </td>
                        <td>
                            <p>
                                Rain, Ate late, Drank Coffee
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Wake up
                            </p>
                        </td>
                        <td>
                            <p>
                                . _ .
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Activity
                            </p>
                        </td>
                        <td>
                            <p>
                                5,031 steps
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Online backup
                            </p>
                        </td>
                        <td>
                            <p>
                                <i class="fa fa-check-circle" style="color: green"></i> Synced
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Total Nights
                            </p>
                        </td>
                        <td>
                            <p>
                                17, Avg. time 6:19
                            </p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- </mat-card> -->
            <div class="example-card-base mt-2">
                <span class="bgwhite">Today's Data</span>
                <div style="float: right" class="mr-2">
                    <span class="fa fa fa-comments text-muted cursor-pointer"></span>
                    &nbsp;
                    <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                </div>
            </div>
        </div>
        <div class="example-card"
            style="padding: 5px 3px;border-radius: 5px;box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
            <!-- <mat-card class="example-card" style="font-family: 'Montserrat', sans-serif; font-weight: 600;"> -->
            <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels" [legend]="false"
                [options]="lineChartOptions" [colors]="lineChartColors2" [chartType]="lineChartType"></canvas>
            <!-- </mat-card> -->
            <div class="example-card-base mt-4">
                <span class="bgwhite">Your Pattern</span>
                <div style="float: right" class="mr-2">
                    <span class="fa fa fa-comments text-muted cursor-pointer"></span>
                    &nbsp;
                    <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->