.example-card {
  width: 400px;
  height: 270px;
  margin-left: 7px;

}

.example-card-base {
  max-width: 400px;
  margin-left: 7px;

}

p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
}

td {
  width: 134px;
}

.card {
  background-color: #00000024;
}

.ch-1 {
  background-color: #00000024;
  color: white;
}

.bgwhite {
  color: white;
}

.tabHead {
  color: white;
  font-weight: bold;
}

.tabData {
  color: white;
}