<div>
    <!-- <button mat-menu-item> -->
    <!-- <label class="myLabel">
            <input type="file" (change)="backGroundImageChange($event.target)" required />
            <span>Set BackGround Image</span>
        </label> -->
    <!-- <p>Theme</p> -->
    <!-- </button> -->
    <!-- <button mat-menu-item (click)="BGImageChange('pink')"> <span>Wallpaper 1</span></button> -->
    <!-- <button mat-menu-item (click)="BGImageChange('blue')"> <span>Wallpaper 2</span></button> -->
    <!-- <button mat-menu-item (click)="BGImageChange('rainbow')"> <span>Wallpaper 2</span></button> -->

    <button mat-menu-item class="mt-2">
        <mat-form-field>
            <mat-label>Theme</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="BGImageChange(selected)">
                <mat-option value="pink"> Wallpaper 1 &nbsp; <img src="../../assets/newBG.png" height="20px"
                        width="24px" /> </mat-option>
                <mat-option value="rainbow"> Wallpaper 2 &nbsp; <img src="../../assets/wall2.jpg" height="20px"
                        width="24px" /> </mat-option>
            </mat-select>
        </mat-form-field>
    </button>
    <!-- <button mat-menu-item [matMenuTriggerFor]="themes">Themes</button> -->
    <!-- xPosition="before" -->
    <!-- <mat-menu #themes="matMenu" yPosition="below">
        <button mat-menu-item (click)="BGImageChange('pink')">Wallpaper 1</button>
        <button mat-menu-item (click)="BGImageChange('rainbow')">Wallpaper 2</button>
    </mat-menu> -->
    <button mat-menu-item (click)="changePassword()">Change Password</button>
    <button mat-menu-item (click)="patientList()">Patient's List </button>
    <button mat-menu-item (click)="addPatientProfile()">Add Patient </button>
</div>