<div>
    <button mat-menu-item>
        <!-- <label class="myLabel">
            <input type="file" (change)="backGroundImageChange($event.target)" required />
            <span>Set BackGround Image</span>
        </label> -->
        <p>Theme</p>

    </button>


    <button mat-menu-item (click)="BGImageChange('pink')"> <span>Wallpaper 1</span></button>
    <!-- <button mat-menu-item (click)="BGImageChange('blue')"> <span>Wallpaper 2</span></button> -->
    <button mat-menu-item (click)="BGImageChange('rainbow')"> <span>Wallpaper 2</span></button>
    <button mat-menu-item (click)="changePassword()">Change Password</button>
    <button mat-menu-item (click)="patientList()">Patient's List </button>
    <button mat-menu-item (click)="addPatientProfile()">Add Patient </button>
</div>