  <div class="row ">
    <div class="col-md-3 col-sm-6 pt-4" *ngFor="let app of apps">
      <a href="{{app.ROUTESCREEN}}">
        <img  src="{{app.URL}}" style="height: 80px !important; width: 80px !important; background-color: aliceblue; mix-blend-mode: multiply" alt="Image Not Available" >
        <!-- <img mat-card-md-image src="{{app.URL}}" style="height: 80px !important; width: 80px !important;" alt="Image Not Available" > -->
      </a>
      <div class="pt-2 font-weight-bold" >
        {{app.APPNAME}}
      </div>
    </div>
 
  </div>