.example-form-field {
  width: 100%;
}

.example-card {
  max-width: 400px;
}

mat-card-content {
  margin-top: 6px;
  margin-bottom: 0px;
}

mat-icon {
  color: black;
}

.shadow {
  box-shadow: 3px 3px 5px 6px #ccc;

}

mat-input-element{
  color: black !important;
}