.data {
  font-size: 50px !important;
  }
  
  .title {
  font-size: 20px !important;
  font-weight: bold;
  background: #3C3C3C;
  color: rgb(255, 255, 255);
  }
  .ch-0{
  background-color: rgb(199, 155, 89);
  }
  
  .ch-1{
  background-color: lightslategrey;
  }
  
  .ch-3{
  background-color:  rgb(96, 107, 117);
  }
  
  .ch-2{
  background-color: rgb(65, 118, 168);
  }
  
  .ch-4{
  background-color:  rgb(180, 80, 80);
  }

  