  <div class="card mt-3 mb-3" style="height: 600px;">
    <div style="overflow-y: auto;">
      <div class="card-header ch-1">
        <div class="row">
          <div class="col justify-content-start">
            <p class="cardHead">
              Four Corners of Health Store
            </p>
          </div>
          <div class="col justify-content-end">
            <img src="../../assets/newfourC.png" style="height: 35px; width: 35px; float: right;" />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mt-4 justify-content-center">
          <div class="card shadow-sm mr-4 cardWidth">
            <div class="card-header title ">
              Weight <span class="float-right"><span class="fa {{weightpresentedInfo}} cursor-pointer"></span></span>
            </div>
            <div class="card-body">
              <span class="fa {{measurementProviderForWeight}} bgWhite cursor-pointer" style="font-size: 22px;"></span>
              <!-- <span class="fa {{mesurementProvider}} text-muted cursor-pointer" style="font-size: 22px;"></span> -->
              <div class="row" [style.display]="!weight? 'none' : ''">
                <div [attr.contenteditable]="contenteditable1" class="col-md-4 font-weight-bold data text-right"
                  [textContent]="currentWeight" [ngClass]="{'editTrue' : contenteditable1}"
                  (input)="currentWeight=$event.target.textContent">
                  {{currentWeight}}
                </div>
                <div class="col-md-4 font-weight-normal data text-left">lbs</div>
    
                <div class="col-md-4 font-weight-bold data text-center" *ngIf="!contenteditable1">
                  <span *ngIf="weightCompare else down">
                    <span class="fa fa-arrow-up" style="color: green"></span>
                  </span>
                  <ng-template #down>
                    <span class="fa fa-arrow-down" style="color: red"></span>
                  </ng-template>
                </div>
                <div>
                  <button *ngIf="contenteditable1" class="btn btn-success" (click)="toggleContenteditableWeight()"
                    style="margin-left: 30px;margin-top: 20px;"><i class="fa fa-check"></i></button>
                </div>
              </div>
              <div [style.display]="weight ? 'none' : 'block'">
                <canvas id="canvas" height="80vh">{{ weightChart }}</canvas>
              </div>
    
              <div class="medium  mt-2 bgWhite">As of {{WeightDate['days']}} {{WeightDate['timer']}} ago</div>
            </div>
            <div class="card-footer ch-0">
              <div class="float-right">
                <span class="fa fa-info-circle black cursor-pointer" data-toggle="tooltip" data-html="true"
                  title={{weightInfo}}></span>
                &nbsp;
                <span class="fa fa-share-alt black cursor-pointer"></span>
                &nbsp;
                <span class="fa fa-plus-square black cursor-pointer" (click)="toggleContenteditableWeight()"></span>
                &nbsp;
                <span class="fa fa-undo black cursor-pointer" (click)="weightToggle()"></span>
              </div>
            </div>
          </div>
    
          <div class="card shadow-sm cardWidth">
            <div class="card-header title ">
              Blood Pressure <span class="float-right"><span
                  class="fa {{presentedInfo}} {{colorPresentedInfo}} cursor-pointer"></span></span>
            </div>
            <div class="card-body">
              <span class="fa {{measurementProviderForBP}} bgWhite cursor-pointer" style="font-size: 22px;"></span>
              <div class="row" *ngIf="bloodpressure">
                <div [attr.contenteditable]="contenteditable3"
                  class="col-md-4 font-weight-bold data {{colorClassForBP}} text-right"
                  [ngClass]="{'editTrue' : contenteditable3}" [textContent]="currentHBP"
                  (input)="currentHBP=$event.target.textContent">{{currentHBP}}
                </div>
                <div class="col-md-1 font-weight-normal data {{colorClassForBP}} text-center">/</div>
                <div [attr.contenteditable]="contenteditable3" [ngClass]="{'editTrue' : contenteditable3}"
                  class="col-md-4 font-weight-bold data {{colorClassForBP}} text-left" [textContent]="currentLBP"
                  (input)="currentLBP=$event.target.textContent">{{currentLBP}}
                </div>
                <!-- <div class="col-md-3 font-weight-bold data text-center" *ngIf="!contenteditable3"><span
                    class="fa fa-arrow-down text-center" style="color: red"></span>
                  <span class="fa fa-arrow-up text-center" *ngIf="false" style="color: green"></span>
                </div> -->
                <div>
                  <button *ngIf="contenteditable3" class="btn btn-success" (click)="toggleContenteditableBlood()"
                    style="margin-left: 30px;margin-top: 20px;"><i class="fa fa-check"></i></button>
                </div>
              </div>
              <div [style.display]="bloodpressure ? 'none' : 'block'">
                <!-- <canvas height="80vh" baseChart [datasets]="lineChartData2" [labels]="lineChartLabels" [legend]="false"
                  [options]="lineChartOptions" [colors]="lineChartColors2" [chartType]="lineChartType"></canvas> -->
                <canvas #canvass id="canvass" height="80vh">{{ BPChart }}</canvas>
              </div>
              <div class="medium mt-2 bgWhite">As of {{bpdate['days']}} {{bpdate['timer']}} ago</div>
              <div style="color: #dc1818; font-size: 16px; font-weight: 700;">
                  {{dangerStatement}}
              </div>
            </div>
            <div class="card-footer ch-2">
              <div class="float-right">
                <span class="fa fa-info-circle black cursor-pointer" data-toggle="tooltip" data-html="true"
                  title={{bloodPressureInfo}}></span>
                &nbsp;
                <span class="fa fa-share-alt black  cursor-pointer"></span>
                &nbsp;
                <span class="fa fa-plus-square black  cursor-pointer" (click)="toggleContenteditableBlood()"></span>
                &nbsp;
                <span class="fa fa-undo black  cursor-pointer" (click)="bloodpressureToggle()"></span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row my-4 justify-content-center">
          <!-- <div class="col-md-6"> -->
          <div class="card shadow-sm mr-4 cardWidth">
            <div class="card-header title ">
              Glucose Level <span class="float-right"><span
                  class="fa {{glucoseweightpresentedInfo}} cursor-pointer"></span></span>
            </div>
            <div class="card-body">
              <span class="fa {{measurementProviderForGL}} bgWhite cursor-pointer" style="font-size: 22px;"></span>
              <div class="row" *ngIf="glucose">
                <div [attr.contenteditable]="contenteditable2" [ngClass]="{'editTrue' : contenteditable2}"
                  class="col-md-4 font-weight-bold data text-right" [textContent]="currentGlucose"
                  (input)="currentGlucose=$event.target.textContent">{{currentGlucose}}
                </div>
                <div class="col-md-4 font-weight-normal data text-left">mg</div>
                <div class="col-md-4 font-weight-bold data text-center" *ngIf="!contenteditable2"><span
                    *ngIf="glucoseCompare" class="fa fa-arrow-up" style="color: green"></span>
                  <span *ngIf="!glucoseCompare" class="fa fa-arrow-down" style="color: red"></span>
                </div>
                <div>
                  <button *ngIf="contenteditable2" class="btn btn-success" (click)="toggleContenteditableGlucose()"
                    style="margin-left: 30px;margin-top: 20px;"><i class="fa fa-check"></i></button>
                </div>
              </div>
              <div [style.display]="glucose ? 'none' : 'block'">
                <!-- <canvas height="80vh" baseChart [datasets]="lineChartData1" [labels]="lineChartLabels" [legend]="false"
                  [options]="lineChartOptions" [colors]="lineChartColors1" [chartType]="lineChartType"></canvas> -->
                <canvas id="canvasforGL" height="60vh">{{ glucoseChart }}</canvas>
              </div>
              <div class="medium mt-2 bgWhite">As of {{glucoseDate['days']}} {{glucoseDate['timer']}} ago</div>
            </div>
            <div class="card-footer ch-3">
              <div class="float-right">
                <span class="fa fa-info-circle black cursor-pointer" data-toggle="tooltip" data-html="true"
                  title={{glucoseInfo}}></span>
                &nbsp;
                <span class="fa fa-share-alt black cursor-pointer"></span>
                &nbsp;
                <span class="fa fa-plus-square black cursor-pointer" (click)="toggleContenteditableGlucose()"></span>
                &nbsp;
                <span class="fa fa-undo black cursor-pointer" (click)="glucoseToggle()"></span>
                <!-- <span class="fa fa-arrow-right text-muted cursor-pointer" (click)="toggleSubmitGlucose()"></span> -->
              </div>
            </div>
          </div>
          <!-- </div> -->
          <!-- <div class="col-md-6"> -->
          <div class="card shadow-sm cardWidth">
            <div class="card-header title ">
              Cholesterol <span class="float-right"><span
                  class="fa {{cholesterolpresentedInfo}} cursor-pointer"></span></span>
            </div>
            <div class="card-body">
              <span class="fa {{measurementProviderForCL}} bgWhite cursor-pointer" style="font-size: 22px;"></span>
              <div class="row" *ngIf="cholesterol">
                <div [attr.contenteditable]="contenteditable4" [ngClass]="{'editTrue' : contenteditable4}"
                  class="col-md-4 font-weight-bold data text-right" [textContent]="currentCholesterol"
                  (input)="currentCholesterol=$event.target.textContent">
                  {{currentCholesterol}}
                </div>
                <div class="col-md-4 font-weight-normal data text-left">mg</div>
                <div class="col-md-4 font-weight-bold data text-center" *ngIf="!contenteditable4"><span *ngIf="clCompare"
                    class="fa fa-arrow-up" style="color: green"></span>
                  <span *ngIf="!clCompare" style="color: red" class="fa fa-arrow-down"></span>
                </div>
                <div>
                  <button *ngIf="contenteditable4" class="btn btn-success" (click)="toggleContenteditableCholestrol()"
                    style="margin-left: 30px;margin-top: 20px;"><i class="fa fa-check"></i></button>
                </div>
              </div>
              <div [style.display]="cholesterol ? 'none' : 'block'">
    
                <!-- <canvas height="80vh" baseChart [datasets]="lineChartData3" [labels]="lineChartLabels" [legend]="false"
                  [options]="lineChartOptions" [colors]="lineChartColors3" [chartType]="lineChartType"></canvas> -->
                <canvas id="canvasForCL" height="60vh">{{ cholesterolChart }}</canvas>
              </div>
              <div class="medium mt-2 bgWhite">As of {{cholesterolDate['days']}} {{cholesterolDate['timer']}} ago</div>
              <!-- <button (click)="toggleContenteditable()">Edit Text Content</button> -->
            </div>
            <div class="card-footer ch-4">
              <div class="float-right">
                <span class="fa fa-info-circle black cursor-pointer" data-toggle="tooltip" data-html="true"
                  title={{cholesterolInfo}}></span>
                &nbsp;
                <span class="fa fa-share-alt black cursor-pointer"></span>
                &nbsp;
                <span class="fa fa-plus-square black cursor-pointer" (click)="toggleContenteditableCholestrol()"></span>
                &nbsp;
                <span class="fa fa-undo black cursor-pointer" (click)="cholesterolToggle()"></span>
                <!-- <span class="fa fa-arrow-right text-muted cursor-pointer" (click)="toggleSubmitCholestrol()"></span> -->
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>

  
