.data {
  font-size: 50px !important;
}

.title {
  font-size: 20px !important;
  font-weight: bold;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.black {
  color: rgb(255, 255, 255)
}

.cardHead {
  font-size: 24px;
  margin-bottom: 0 !important;
}

.ch-0 {
  background-color: rgb(235, 162, 52);
  color: white;
}

.ch-1 {
  background-color: #d7dce2;
  color: black;
}

.ch-3 {
  background-color: rgb(96, 107, 117);
  color: white;

}

.ch-2 {
  background-color: rgb(65, 118, 168);
  color: white;

}

.ch-4 {
  background-color: rgb(180, 80, 80);
  color: white;

}

.green {
  color: green;
}

.yellow {
  color: rgb(206, 206, 75);
}

.darkYellow {
  color: rgb(156, 156, 45);
}

.red {
  color: rgb(173, 24, 24)
}

.darkRed {
  color: rgb(255, 0, 0)
}

.grey {
  color: lightgray
}

.cardWidth {
  width: 465px;
}

.editTrue {
  border-bottom: 2px dotted black;
}