<div style="text-align: center;">
    <div style="font-size: 26px;">
        <h5>Let's verify your Account</h5>
    </div>
    <div style="margin-top: 40px;">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('required')">
                MailId is <strong>required</strong>
            </mat-error>
            <!-- <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->
        </mat-form-field>
        <br>
        <button class="btn btn-warning" (click)="cancel()">
            Cancel
        </button> &nbsp;
        <button class="btn btn-primary" [disabled]="!(emailFormControl.valid)" (click)="onSubmit($event)">
            Verify
            <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </button>
    </div>
</div>