
<div class="mt-5 mb-5 container-fluid" style="font-family: 'Montserrat' !important">
    <div class="row" style="display: flex; max-width: 68%; margin: auto;">
        <div class="twoCard" style="color: white; ">
            <div class=" text-right" style="margin-top: 310px; padding: 15px;">
                <b>Traverse Healthcare</b>
            </div>
        </div>
        <div class="twoCardd text-center ">
            <div style="margin-top: 150px;">
                <div>
                    <img src="../../assets/mainLogo.png" height="50px" width="50px" alt="">
                </div>
                <div style="margin-top: 25px; font-size: 26px;">
                    <h5>Let's verify your account first !</h5>
                </div>
                <div style="margin-top: 40px;">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" [formControl]="emailFormControl" (blur)="verifyMailId()">
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <button mat-button matSuffix mat-icon-button
                            *ngIf="refreshEmail && !emailFormControl.hasError('required')" matTooltip="Loading"
                            style="color: black;" class="spinner-border spinner-border-sm">
                            <mat-icon>refresh</mat-icon>
                            
                        </button>
                        <button *ngIf="emailTaken == true && !refreshEmail" mat-button style="color: green" matSuffix
                            mat-icon-button matTooltip="MailId verified">
                            <mat-icon>check_circle</mat-icon>
                        </button>

                        <button mat-button style="color: red" *ngIf="emailTaken == false && !refreshEmail" matSuffix
                            mat-icon-button matTooltip="That EmailId doesn't exist.">
                            <mat-icon>warning</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    <button class="btn btn-warning" (click)="cancel()">
                        Cancel
                        <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                    &nbsp;
                    <button class="btn btn-primary" [disabled]="!emailFormControl.valid" (click)="onSubmit($event)">
                        Verify
                        <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>