<div class="mt-5 mb-5 container-fluid" style="font-family: 'Montserrat' !important">
    <div class="row" style="display: flex; max-width: 68%; margin: auto;">
        <div class="twoCard" style="color: white; ">
            <div class=" text-right" style="margin-top: 310px; padding: 15px;">
                <b>Traverse Healthcare</b>
            </div>
        </div>
        <div class="twoCardd text-center ">
            <div style="margin-top: 150px;">
                <div>
                    <img src="../../assets/mainLogo.png" height="50px" width="50px" alt="">
                </div>
                <div style="margin-top: 25px; font-size: 26px;">
                    <h5>Your account is verified, Please reset your password below.</h5>
                </div>
                <div style="margin-top: 40px;">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                            [formControl]="passwordFormControl">
                        <mat-icon matSuffix (click)="hide = !hide" style="font-size: 16px; cursor: pointer;">
                            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-icon matSuffix matTooltip="Password is required"
                            *ngIf="passwordFormControl.hasError('required')" style="color: #556e6d;font-size: 16px;">
                            info </mat-icon>
                        <mat-icon matSuffix matTooltip="Password must be at least 8 characters long."
                            *ngIf="passwordFormControl.hasError('minlength')" style="color: #556e6d;font-size: 16px;">
                            info </mat-icon>
                        <mat-icon matSuffix matTooltip="Password can be max 16 characters long."
                            *ngIf="passwordFormControl.hasError('maxlength')" style="color: #556e6d;font-size: 16px;">
                            info </mat-icon>
                        <mat-icon matSuffix
                            matTooltip="Password must contain one small letter, one capital letter and one number."
                            *ngIf="!passwordFormControl.hasError('minlength') && passwordFormControl.hasError('pattern')"
                            style="color: #556e6d;font-size: 16px;">
                            info </mat-icon>
                        <!-- <span style="color: #556e6d; font-size: 12px;" *ngIf="passwordFormControl.hasError('required')"
                            matSuffix mat-icon-button matTooltip="Password is required">
                            <mat-icon>info</mat-icon>
                        </span>
                        <span style="color: #556e6d; font-size: 12px;" *ngIf="passwordFormControl.hasError('minlength')"
                            matSuffix mat-icon-button matTooltip=" Password must be at least 8 characters long.">
                            <mat-icon>info</mat-icon>
                        </span>
                        <span style="color: #556e6d; font-size: 12px;" *ngIf="passwordFormControl.hasError('maxlength')"
                            matSuffix mat-icon-button matTooltip="  Password can be max 16 characters long.">
                            <mat-icon>info</mat-icon>
                        </span>
                        <span style="color: #556e6d; font-size: 12px;"
                            *ngIf="!passwordFormControl.hasError('minlength') && passwordFormControl.hasError('pattern')"
                            matSuffix mat-icon-button
                            matTooltip="Password must contain one small letter, one capital letter and one number.">
                            <mat-icon>info</mat-icon>
                        </span> -->
                        <!-- <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error> -->
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Confirm Password" [type]="cfhide ? 'password' : 'text'"
                            [formControl]="cfpasswordFormControl">
                        <mat-icon matSuffix (click)="cfhide = !cfhide" style="font-size: 16px; cursor: pointer;">
                            {{cfhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="cfpasswordFormControl.hasError('required')">
                            Confirm Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="cfpasswordFormControl.hasError('notSame')">
                            Passwords must be <strong>same</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt-3">
                    <button class="btn btn-primary"
                        [disabled]="!(cfpasswordFormControl.valid && passwordFormControl.valid)"
                        (click)="onSubmit($event)">
                        Save
                        <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>