<!-- <div style="text-align: center;">
    <div style="font-size: 26px;">
        <h5>Let's verify your Account</h5>
    </div>
    <div style="margin-top: 40px;">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('required')">
                MailId is <strong>required</strong>
            </mat-error>       
        </mat-form-field>
        <br>
        <button class="btn btn-warning" (click)="cancel()">
            Cancel
        </button> &nbsp;
        <button class="btn btn-primary" [disabled]="!(emailFormControl.valid)" (click)="onSubmit($event)">
            Verify
            <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </button>
    </div>
</div> -->

<div class="mt-5 mb-5 container-fluid" style="font-family: 'Montserrat' !important">
    <div class="row" style="display: flex; max-width: 68%; margin: auto;">
        <div class="twoCard" style="color: white; ">
            <div class=" text-right" style="margin-top: 310px; padding: 15px;">
                <b>Traverse Healthcare</b>
            </div>
        </div>
        <div class="twoCardd text-center ">
            <div style="margin-top: 150px;">
                <div>
                    <img src="../../assets/mainLogo.png" height="50px" width="50px" alt="">
                </div>
                <div style="margin-top: 25px; font-size: 26px;">
                    <h5>Your account is verified, Please reset your password below.</h5>
                </div>
                <div style="margin-top: 40px;">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl">
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Confirm Password" type="password"
                            [formControl]="cfpasswordFormControl">
                        <mat-error *ngIf="cfpasswordFormControl.hasError('required')">
                            Confirm Password is <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="passwordFormControl != cfpasswordFormControl && !cfpasswordFormControl.hasError('required')">
                            Passwords must be <strong>same</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <button class="btn btn-warning" (click)="cancel()">
                        Cancel
                        <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button> -->
                &nbsp;
                <button class="btn btn-primary" [disabled]="!(cfpasswordFormControl.valid && passwordFormControl.valid)"
                    (click)="onSubmit($event)">
                    Save
                    <div *ngIf="loginSuccess" class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>