<div class="card mt-3 mb-3" style="height: 100%;">
    <div style="overflow-y: auto; overflow-x: hidden;">
        <div class="card-header ch-1">
            <div class="row ">
                <div class="col justify-content-start">
                    <p class="cardHead">
                        Emergency Room
                    </p>
                </div>
                <div class="col justify-content-end">
                    <img src="../../assets/icons-home/emer.png"
                        style="height: 35px; width: 35px; float: right; mix-blend-mode: multiply" />
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row ml-2 mr-2">
                <div style="display: flex; width: 100%;" class="justify-content-center">
                    <div style="margin-top: 15px;">
                        <h5 class="bgWhite font-weight-bold">Status Data</h5>
                    </div>
                    <div style="margin-left: 720px;">
                        <mat-form-field class="example-form-field">
                            <input matInput type="text" placeholder="Find Emergency" [(ngModel)]="value">
                            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="value=''">
                                <mat-icon>close</mat-icon>
                            </button>
                            <button mat-button matSuffix mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                
            </div>
            <div style="border-bottom: 1px solid grey;">
            </div>
            <div style="display: flex;" class="mt-4 mb-6">
                <div *ngFor="let data of avlblData" class="mr-2 ml-2"
                    style="box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; margin: auto;width: 100%;">
                    <div style="text-align: center;">
                        <div style="background-color: rgba(255, 255, 255, 0.329); padding: 40px;">
                            <p class="t1 ">{{data.text1}}</p>
                            <p class="t2 ">{{data.text2}}</p>
                        </div>
                        <div style=" background-color: rgba(75, 72, 72, 0.37); padding: 20px; color: white;">
                            <strong>{{data.header}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div>

                <div class="row ml-2 mr-2 mt-4 mb-4">
                    <div style="display: flex; width: 100%;">
                        <div style="margin-top: 15px;">
                            <h5 class="bgWhite font-weight-bold">Patients</h5>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid grey;">
                </div>
                <div class="mt-4 mb-4">
                    <table class="table table-striped">
                        
                        <tbody class="bgWhite">
                            <tr style="background-color: rgba(75, 72, 72, 0.37);">
                                <td>Andrew Yuan</td>
                                <td>Current: Triage</td>
                                <td>Next: Imaging</td>
                                <td>No Assignment</td>
                                <td>18 Minutes</td>
                                <td>
                                    <i class="fa fa-share-alt-square mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-file-text mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-comment mr-2 ml-2 cursor-pointer"></i>
                                </td>
                            </tr>
                            <tr style="background-color: rgba(75, 72, 72, 0.507);">
                                <td>Christie Lang</td>
                                <td>Current: Triage</td>
                                <td>Next: Imaging</td>
                                <td>No Assignment</td>
                                <td>18 Minutes</td>
                                <td>
                                    <i class="fa fa-share-alt-square mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-file-text mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-comment mr-2 ml-2 cursor-pointer"></i>
                                </td>
                            </tr>
                            <tr style="background-color: rgba(75, 72, 72, 0.384);">
                                <td>Josh Kendra Yuan</td>
                                <td>Current: Check out</td>
                                <td>Next: Imaging</td>
                                <td>No Assignment</td>
                                <td>22 Minutes</td>
                                <td>
                                    <i class="fa fa-share-alt-square mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-file-text mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-comment mr-2 ml-2 cursor-pointer"></i>
                                </td>
                            </tr>
                            <tr style="background-color: rgba(75, 72, 72, 0.507);">
                                <td>Tristan Skov</td>
                                <td>Current: In Room</td>
                                <td>Next: Siregery Room</td>
                                <td>Dr. Spencer Lim</td>
                                <td>01: 20</td>
                                <td>
                                    <i class="fa fa-share-alt-square mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-file-text mr-2 ml-2 cursor-pointer"></i>
                                    <i class="fa fa-comment mr-2 ml-2 cursor-pointer"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>