.ch-1 {
    background-color: #d7dce2;
    color: black;
}

.cardHead {
    font-size: 24px;
    margin-bottom: 0 !important;
}

.appName {
    font-size: 14px;
    font-weight: bold;
}

.example-form-field {
    width: 100%;
}

.example-card {
    max-width: 300px;
}

mat-card-content {
    margin-top: 6px;
    margin-bottom: 0px;
}

mat-icon {
    color: black;
    font-size: 20px;
}

.shadow {
    box-shadow: 3px 3px 5px 6px #ccc;
}

mat-input-element {
    color: black !important;
}

.icon {
    font-size: 20px;
}

.t1 {
    font-size: 22px;
    font-weight: bolder;
}

.t2 {
    font-size: 20px;
    font-weight: bolder;
}