    <div style="height: 100%;">
        <div class="col" *ngFor='let chat of chat1; let i = index'>
            <div class="row" style="float: right; clear: both; ">
                <div>
                    <p class="p-1"
                        style="background-color: lightgray; border-radius: 7px; margin-bottom: 0 !important; ">
                        {{chat['message']}}
                    </p>
                    <sub>{{chat['time']}}</sub>
                </div>
            </div>
            <div class="row" style="float: left; clear: both;" *ngIf="chat2[i] != null">
                <ngx-avatar class="p-1" name="Krishna" size="25"></ngx-avatar>
                <div>
                    <p class="p-1"
                        style="background-color: lightblue; border-radius: 7px;  margin-bottom: 0 !important;">
                        {{chat2[i]['message']}}
                    </p>
                    <sub>{{chat2[i]['time']}}</sub>
                </div>
            </div>
        </div>
    </div>