<div class="animated fadeIn mt-5 mb-5">
  <!--Recommended apps Begin-->
  <div class="col-md-12">
    <div class="card" style="height:auto;">
      <div class="card-header ch-1">
        <div class="row">
          <div class="col justify-content-start">
            <p class="cardHead">
              Calendar
            </p>
          </div>
          <div class="col justify-content-end">
            <img src="../../assets/calendar1.png" style="height: 35px; width: 35px; float: right;" />
          </div>
        </div>
      </div>
      <div class="card-body col-md-12 " style="height:auto; overflow:scroll">
        <div>
          <div class="row">
            <div class="col-md-4">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
              <div class="btn-group" style="text-align:center">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
                  Previous
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                  Today
                </div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
                  Next
                </div>
              </div>
            </div>
            <div class="col-md-4" style="float:right">
              <div>
                <i class="fa fa-circle p-2" aria-hidden="true" style="color: orange"></i> Appointment
                <i class="fa fa-circle p-2" aria-hidden="true" style="color: skyblue"></i>Medications
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4"> -->
          <!-- <div class="btn-group">
              <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day">
                Day
              </div>
            </div>  *ngSwitchCase="CalendarView.Month"-->
          <!-- </div> -->
        </div>

        <br />
        <div class="ch-1">
          <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
            [cellTemplate]="customTemplate">
          </mwl-calendar-month-view>
          <!-- <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view> -->
          <!-- <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view> -->
        </div>
      </div>
      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event action occurred</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="modalData?.action != 'Edit' else testCase">
          <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
          </div>
          <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="close()">
            OK
          </button>
        </div>
      </ng-template>
      <ng-template #testCase>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </ng-template>
      <ng-template #tesst>
        <div class="card">
          <div class="card-header">
            <div class="justify-content-center">
              <h3>{{ viewDate | date }}</h3>
            </div>
          </div>
          <div class="card-body" style="height: 405px">
            <mat-tab-group>
              <mat-tab label="Events">
                <div *ngFor="let event of existingEvents; let i=index">
                  <div class="hoverClass">
                    <div class="row">
                      <div class="col-md-9">
                        <div>
                          {{event.title}}
                        </div>
                        <div>
                          {{event.end | date: "shortTime"}}
                        </div>
                      </div>

                      <div class="col-md-3" style="display: block; float: right">
                        <div *ngIf="event.id != 'Medication' else Appointment">
                          <i class="fa fa-map-marker p-2" aria-hidden="true"></i>
                          <i class="fa fa-clock-o p-2" aria-hidden="true"></i>
                          <i class="fa fa-times-circle-o p-2" aria-hidden="true"></i>
                        </div>
                        <ng-template #Appointment>
                          <i class="fa fa-refresh p-2" aria-hidden="true"></i>
                          <i class="fa fa-trash" (click)="removeEvent(event, i)" aria-hidden="true"></i>
                        </ng-template>

                      </div>

                    </div>

                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Request Appointment">
                <!-- <ng-container *ngTemplateOutlet="newAppointment;"></ng-container> -->
                <div class="card">
                  <div class="card-header">
                    Request an Appoinment
                  </div>
                  <div class="card-body">
                    <div class="example-container">
                      <mat-form-field>
                        <input matInput [formControl]="AppointmentName" placeholder="Input">
                      </mat-form-field>

                      <mat-form-field>
                        <textarea matInput [formControl]="AppointmentDetails"
                          placeholder="Appointment Details"></textarea>
                      </mat-form-field>
                      <!-- 
                      <mat-form-field>
                        <mat-select placeholder="Select">
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field> -->

                      <button mat-button color="warn" (click)="close()" ngbAutofocus>Cancel</button>
                      <button mat-button color="primary" (click)="close('Add')">Add Appointment</button>

                    </div>
                  </div>

                </div>
              </mat-tab>
              <mat-tab label="Add Medication">
                Add Medication Details
                <!-- <div *ngFor="let k of [0,7,1,5]">
                  <div class="card-body hoverClass" style="padding: 10px !important;">
                    <div>
                      <p>{{k}}</p>
                    </div>
                  </div>
                </div> -->
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </ng-template>

      <ng-template #newAppointment let-close="close">
        <div class="card">
          <div class="card-header">
            Add an Appointment
          </div>
          <div class="card-body">
            <div class="example-container">
              <mat-form-field>
                <input matInput [formControl]="AppointmentName" placeholder="Input">
              </mat-form-field>

              <mat-form-field>
                <textarea matInput [formControl]="AppointmentDetails" placeholder="Appointment Details"></textarea>
              </mat-form-field>
              <!-- 
              <mat-form-field>
                <mat-select placeholder="Select">
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field> -->

              <button mat-button color="warn" (click)="close()" ngbAutofocus>Cancel</button>
              <button mat-button color="primary" (click)="close('Add')">Add Appointment</button>

            </div>
          </div>

        </div>
      </ng-template>

      <ng-template #editApponitment let-close="close">
        <div class="card">
          <div class="card-header">
            Edit Appointment
          </div>
          <div class="card-body">
            <div class="example-container">
              <mat-form-field>
                <input matInput [formControl]="editAppointmentName" placeholder="Input">
              </mat-form-field>

              <mat-form-field>
                <textarea matInput [formControl]="editAppointmentDetails" placeholder="Appointment Details"></textarea>
              </mat-form-field>

              <button mat-button color="warn" (click)="close()" ngbAutofocus>Cancel</button>
              <button mat-button color="primary" (click)="close('Add')">Edit Appointment</button>

            </div>
          </div>

        </div>
      </ng-template>

    </div>
  </div>

</div>

<ng-template #customTemplate let-day="day" let-openDay="openDay" let-locale="locale"
  let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked" let-tooltipTemplate="tooltipTemplate" let-tooltipAppendToBody="tooltipAppendToBody">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <!-- 
-->
  <div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event" *ngFor="let event of day.events; trackBy:trackByEventId"
      [style.backgroundColor]="event.color?.secondary" [ngClass]="event?.cssClass"
      (mouseenter)="highlightDay.emit({event: event})" (mouseleave)="unhighlightDay.emit({event: event})"
      [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event" [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody"
      mwlDraggable [class.cal-draggable]="event.draggable" dragActiveClass="cal-drag-active"
      [dropData]="{event: event, draggedFrom: day}" [dragAxis]="{x: event.draggable, y: event.draggable}"
      (mwlClick)="eventClicked.emit({ event: event })">
    </div>
  </div>
</ng-template>
<!-- <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
          <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
            >{{ day.badgeTotal }}</span
          >
          <span class="cal-day-number"
            >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
          >
        </div>
        <div
        class="cal-event"
        *ngFor="let event of day.events; trackBy:trackByEventId"
        [style.backgroundColor]="event.color?.secondary"
        [ngClass]="event?.cssClass"
        (mouseenter)="highlightDay.emit({event: event})"
        (mouseleave)="unhighlightDay.emit({event: event})"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
        [tooltipPlacement]="tooltipPlacement"
        [tooltipEvent]="event"
        [tooltipTemplate]="tooltipTemplate"
        [tooltipAppendToBody]="tooltipAppendToBody"
        mwlDraggable
        [class.cal-draggable]="event.draggable"
        dragActiveClass="cal-drag-active"
        [dropData]="{event: event, draggedFrom: day}"
        [dragAxis]="{x: event.draggable, y: event.draggable}"
        (mwlClick)="eventClicked.emit({ event: event })">
      </div>
      </ng-template> -->