.ch-1 {
  background-color: #d7dce2;
  color: black
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cardHead {
  font-size: 24px;
  margin-bottom: 0 !important;
}
.hoverClass:hover{
  background-color: rgb(148, 192, 228);
}
.hoverClass{
  overflow: hidden;
  padding: 10px !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}