.ch-1 {
  background-color: #0000005e;
  color: white;
}

.card {
  background-color: #00000024;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cardHead {
  font-size: 24px;
  margin-bottom: 0 !important;
}

.hoverClass:hover {
  background-color: rgb(148, 192, 228);
}

.hoverClass {
  overflow: hidden;
  padding: 10px !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.modal-xl .modal-lg {
  /* max-width: 90%; */
  /* height: 405px */
}

::-webkit-scrollbar {
  width: 1px;
}

::ng-deep .cal-month-view {
  background-color: #ffffff05 !important;
}

::ng-deep .cal-month-view .cal-cell-row:hover {
  background-color: #fafafa00 !important;
}

/* ::ng-deep .cal-month-view .cal-cell-row .cal-cell:hover,
.cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #ededed !important;
} */