<div class="card mt-3 mb-3" style="height: 100%;">
  <div style="overflow-y: auto;">
    <div class="card">
      <div class="card-header ch-1" style="font-size: 120%">
        <div class="row">
          <div class="col justify-content-start">
            <p class="cardHead">
              Motion App Store
            </p>
          </div>
          <div class="col justify-content-end">
            <img src="../../assets/storeLogo.png"
              style="height: 35px; width: 35px; float: right;  mix-blend-mode: multiply" />
          </div>
        </div>
      </div>
      <div class="card-body col-md-12">
        <div class="category">
          <mat-form-field class="example-full-width" style="font-family: 'Montserrat', sans-serif; ">
            <mat-label>Category</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="changeClient($event.value)">
              <mat-option>None</mat-option>
              <mat-option value="Consumers">Consumers</mat-option>
              <mat-option value="Providers">Providers</mat-option>
              <mat-option value="StakeHolders">StakeHolders</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="selectedVal == 'Consumers'" style="margin-top: 8px; margin:auto;" class="row">
          <div *ngFor="let app of apps" class="col-3 mt-2 mb-2">
            <mat-card class="example-card" (click)="openBottomSheet(app)"
              style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
              <div style="text-align: center;">
                <img mat-card-md-image src="{{app.URL}}" alt="Image Not Available">
              </div>
              <mat-card-content style="width: 200px; font-size: 14px; margin-top: 8px;">
                <p>
                  {{app.APPNAME}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <div *ngFor="let item of [1]; let index = index" style="font-size: 15px;">
                  <rating [(ngModel)]=app.RATING [readonly]="true" [float]="true">
                  </rating>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <!-- <div *ngIf="selectedVal == 'Consumers'" style=" margin-top: 8px;" class="row">
          <div *ngFor="let app of mapps" class="col-3 mt-2 mb-2">
            <mat-card class="example-card" (click)="openBottomSheet(app)"
              style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
              <div style="text-align: center;">
                <img mat-card-md-image src="{{app.URL}}" alt="Image Not Available">
              </div>
              <mat-card-content style="width: 200px; font-size: 14px; margin-top: 8px;">
                <p>
                  {{app.APPNAME}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <div *ngFor="let item of [1]; let index = index" style="font-size: 15px;">
                  <rating [(ngModel)]=app.RATING [readonly]="true" [float]="true">
                  </rating>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div> -->
        <div *ngIf="selectedVal == 'Providers'" style="margin-top: 8px; margin:auto;" class="row">
          <div *ngFor="let app of pApps" class="col-3 mt-2 mb-2">
            <mat-card class="example-card" (click)="openBottomSheet(app)"
              style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
              <div style="text-align: center;">
                <img mat-card-md-image src="{{app.URL}}" alt="Image Not Available">
              </div>
              <mat-card-content style="width: 200px; font-size: 14px; margin-top: 8px;">
                <p>
                  {{app.APPNAME}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <div *ngFor="let item of [1]; let index = index" style="font-size: 15px;">
                  <rating [(ngModel)]=app.RATING [readonly]="true" [float]="true">
                  </rating>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div *ngIf="selectedVal == 'StakeHolders'" style="margin-top: 8px; margin:auto;" class="row">
          <p style="margin: auto;" class="center">
            No Apps found.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>