 /* .card1 {
   height: 90%;
   width: 90%;
 }

 .header1 {
   height: 90%;
   width: 70%;
 }

 .card-header1 {
   height: 90px;
   width: 100%;
   padding: 10% 0%;
   text-align: center
 }


 img {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
*/
 .container {
   font-size: 12px;
   text-align: center;
   vertical-align: 15%
 }

 .cardHead {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0 !important;
}

 .example-card {
   max-width: 200px;
   margin-left: 7px;
   background-color: #00000024;
 }

 /* .ch-1 {
   background-color: #d7dce2;
   color: black
 } */
 .card {
   background-color: #00000024;
   color: white;
 }

 .ch-1 {
   background-color: #00000024;
   color: white;
 }

 .bgWhite {
   color: white;
 }

 .example-full-width {
   width: 100%;
 }

 .category {
   width: 200px;
   margin-left: 20px;
   margin-top: 8px;
 }