<div class="animated fadeIn mt-5">
  <!--Recommended apps Begin-->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header ch-1" style="font-size: 120%">
        <div class="row">
          <div class="col justify-content-start">
            <p class="cardHead">
              Motion App Store
            </p>
          </div>
          <div class="col justify-content-end">
            <img src="../../assets/storeLogo.png" style="height: 45px; width: 45px; float: right;" />
          </div>
        </div>
      </div>

      <div class="card-body col-md-12">
        <div class="category">
          <mat-form-field class="example-full-width" style="font-family: 'Montserrat', sans-serif; ">
            <mat-label>Category</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="Consumers">Consumers</mat-option>
              <mat-option value="Providers">Providers</mat-option>
              <mat-option value="StakeHolders">StakeHolders</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="display: flex; margin-top: 8px;">
          <div *ngFor="let app of apps">
            <mat-card class="example-card" (click)="openBottomSheet(app)"
              style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
              <div style="text-align: center;">
                <img mat-card-md-image src="{{app.url}}" alt="Image Not Available">
              </div>
              <mat-card-content style="width: 200px; font-size: 14px; margin-top: 8px;">
                <p>
                  {{app.appName}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <div *ngFor="let item of [1]; let index = index" style="font-size: 15px;">
                  <rating [(ngModel)]=app.rating [readonly]="true" [float]="true">
                  </rating>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div style="display: flex; margin-top: 8px;">
          <div *ngFor="let app of mapps">
            <mat-card class="example-card" (click)="openBottomSheet(app)"
              style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
              <div style="text-align: center;">
                <img mat-card-md-image src="{{app.url}}" alt="Image Not Available">
              </div>
              <mat-card-content style="width: 200px; font-size: 14px; margin-top: 8px;">
                <p>
                  {{app.appName}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <div *ngFor="let item of [1]; let index = index" style="font-size: 15px;">
                  <rating [(ngModel)]=app.rating [readonly]="true" [float]="true">
                  </rating>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>