.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #eee;
}

.card {
  background-color: #00000024;
}

::ng-deep .mat-tab-label {
  color: white;
  font-weight: bold;
  font-size: 16px;

}

.ch-1 {
  background-color: #00000024;
  color: white;
}

.test :hover {
  background-color: rgba(115, 117, 119, 0.507)
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.vertical {
  border-right: solid 2px black;
  overflow-x: hidden;
  overflow-y: auto;
}

/* align icon */
.left-addon .fa {
  left: 0px;
}

.right-addon .fa {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}