<div class="card mt-5 mb-5" style=" height: 100%;">
    <div class="card-header ch-1">
        <div class="row ">
            <div class="col justify-content-start">
                <p class="cardHead" style="font-size: 24px; margin-bottom: 0 !important;">
                    Health Connect
                </p>
            </div>
            <div class="col justify-content-end">
                <img src="../../assets/newHealthconnect.png"
                    style="height: 35px; width: 35px; float: right; mix-blend-mode: multiply" />
            </div>
        </div>
    </div>
    <div class="card-body" style="height: 540px;">
        <div class="row no-gutters" style="height: 516px;">
            <div class="col-md-3 vertical" style="overflow-x:hidden; overflow-y:auto;">
                <div style="margin-right: 5px;">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-search"></i>
                        <input type="text" [(ngModel)]="searchText" class="form-control" />
                    </div>
                    <mat-tab-group >
                        <mat-tab label="Contacts" >
                            <mat-list class="test">
                                <mat-list-item *ngFor="let message of contactsList | filter: searchText; let i = index" style="color: white;">
                                    <ngx-avatar src="{{message.image}}" name="{{message.name}}" (click)="test('das')"
                                        size="30"></ngx-avatar>
                                    <h3 matLine (click)="test('fasf')"> {{message.from}} </h3>
                                </mat-list-item>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Find a Doctor">
                            <mat-list class="test">
                                <mat-list-item *ngFor="let message of doctorsList | filter: searchText; let i = index">
                                    <ngx-avatar src="{{message.image}}" name="{{message.name}}" (click)="test('das')"
                                        size="30"></ngx-avatar>
                                    <h3 matLine (click)="test('fasf')"> {{message.name}} - {{message.speciality}}</h3>
                                </mat-list-item>
                            </mat-list>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div class="col-md-9">
                <div style="width: 100%; clear: left">
                    <div style="float: right">
                        <i class="fa fa-video-camera p-2" aria-hidden="true"></i>
                        <i class="fa fa-phone-square p-2" aria-hidden="true"></i>
                        <i class="fa fa-calendar-plus-o p-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row" style="width: 100%; margin-left: 10px; height: 100%;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>