<div class="card mt-5">
    <div class="card-header row">
        <div class="col justify-content-start">
            <p class="cardHead">
                Four Corners of Health Store
            </p>
        </div>
        <div class="col justify-content-end">
            <img src="../../assets/icons-home/motion01.png" style="height: 45px; width: 45px; float: right;" />
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="row" style="display: flex; width: 100%; align-items: center; justify-content: center;">
                <div class="example-card">
                    <div class="cardHeader" style="background-color: rgb(231, 190, 112);">
                        <div>
                            <p>Weight</p>
                        </div>
                        <i class="fa fa-x {{weightpresentedInfo}} cardHeaderIcon"></i>
                    </div>
                    <div style="background-color: rgb(206, 206, 206);">
                        <span class="fa {{  mesurementProvider }} text-muted cursor-pointer p-1"
                            style="font-size: 22px;"></span>
                        <div style="align-items: center; margin-left: 20px; "
                            [style.display]="!weight? 'none' : 'flex'">
                            <!-- <p class="measurement">165</p>&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <p [attr.contenteditable]="contenteditable1" class="font-weight-bold measurement"
                                [textContent]="currentWeight" (input)="currentWeight=$event.target.textContent">
                                {{currentWeight}}
                            </p>&nbsp;&nbsp;&nbsp;&nbsp;
                            <p class="unit"> lbs</p>
                            <span class="fa fa-arrow-up ml-2"
                                style="font-size: 104px !important; color: rgb(47, 73, 37);">
                            </span>
                        </div>
                        <div [style.display]="weight ? 'none' : 'block'">
                            <canvas id="canvasss" height="102vh">{{ weightCharts }}</canvas>
                        </div>
                        <p class="timeText">As of 2 Months Ago</p>
                        <div style="border-bottom: solid 1px grey;">
                        </div>
                        <div class="cardFoot">
                            <div style="margin-left: auto; order: 2;">
                                <span class="fa fa-info-circle text-muted cursor-pointer" data-toggle="tooltip"
                                    data-html="true" title={{weightInfo}}></span>
                                &nbsp;
                                <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                                &nbsp;
                                <span class="fa fa-plus-square text-muted cursor-pointer"
                                    (click)="toggleContenteditableWeight()"></span>
                                &nbsp;
                                <span class="fa fa-undo text-muted cursor-pointer" (click)="weightToggle()"></span>
                                &nbsp;

                            </div>
                        </div>
                    </div>
                </div>
                <div class="example-card">
                    <div class="cardHeader" style="background-color: rgb(97, 146, 211);">
                        <div>
                            <p>Blood Pressure</p>
                        </div>
                        <i class="fa fa-x {{presentedInfo}} {{colorPresentedInfo}}  cardHeaderIcon"></i>
                    </div>
                    <div style="background-color: rgb(206, 206, 206);">
                        <span class="fa {{  mesurementProvider }} text-muted cursor-pointer p-1"
                            style="font-size: 22px;"></span>
                        <div *ngIf="bloodpressure" style="display: flex; align-items: center; margin-left: 20px;">
                            <!-- <p class="measurement">165</p>&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <p [attr.contenteditable]="contenteditable3"
                                class="measurement font-weight-bold {{colorClassForBP}}" [textContent]="currentHBP"
                                (input)="currentHBP=$event.target.textContent">{{currentHBP}}
                            </p>
                            <p class="measurement"> / </p>
                            <p [attr.contenteditable]="contenteditable3"
                                class="measurement font-weight-bold {{colorClassForBP}}" [textContent]="currentLBP"
                                (input)="currentLBP=$event.target.textContent">{{currentLBP}}
                            </p>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="fa fa-arrow-up ml-2"
                                style="font-size: 104px !important; color: rgb(47, 73, 37);">
                            </span>
                        </div>
                        <div [style.display]="bloodpressure ? 'none' : 'block'">
                            <!-- <canvas height="80vh" baseChart [datasets]="lineChartData2" [labels]="lineChartLabels" [legend]="false"
                                  [options]="lineChartOptions" [colors]="lineChartColors2" [chartType]="lineChartType"></canvas> -->
                            <canvas #canvass id="canvass" height="102vh">{{ BPChart }}</canvas>
                        </div>
                        <p class="timeText">As of 2 Months Ago</p>

                        <div style="border-bottom: solid 1px grey;">
                        </div>
                        <div class="cardFoot">
                            <div style="margin-left: auto; order: 2;">
                                <span class="fa fa-info-circle text-muted cursor-pointer" data-toggle="tooltip"
                                    data-html="true" title={{bloodPressureInfo}}></span>
                                &nbsp;
                                <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                                &nbsp;
                                <span class="fa fa-plus-square text-muted cursor-pointer"
                                    (click)="toggleContenteditableBlood()"></span>
                                &nbsp;
                                <span class="fa fa-undo text-muted cursor-pointer"
                                    (click)="bloodpressureToggle()"></span>
                                &nbsp;

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="display: flex; width: 100%; align-items: center; justify-content: center;">
                <div class="example-card">
                    <div class="cardHeader" style="background-color: rgb(107, 118, 133);">
                        <div>
                            <p>Glucose Level</p>
                        </div>
                        <i class="fa fa-x {{glucoseweightpresentedInfo}}  cardHeaderIcon"></i>
                    </div>
                    <div style="background-color: rgb(206, 206, 206);">
                        <span class="fa {{  mesurementProvider }} text-muted cursor-pointer p-1"
                            style="font-size: 22px;"></span>
                        <div *ngIf="glucose" style="display: flex; align-items: center; margin-left: 20px;">
                            <!-- <p class="measurement">165</p>&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <p [attr.contenteditable]="contenteditable2" class="measurement font-weight-bold"
                                [textContent]="currentGlucose" (input)="currentGlucose=$event.target.textContent">
                                {{currentGlucose}}</p>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <p class="unit"> mg</p>
                            <span class="fa fa-arrow-up ml-2"
                                style="font-size: 104px !important; color: rgb(47, 73, 37);">
                            </span>
                        </div>
                        <div [style.display]="glucose ? 'none' : 'block'">
                            <!-- <canvas height="80vh" baseChart [datasets]="lineChartData1" [labels]="lineChartLabels" [legend]="false"
                                  [options]="lineChartOptions" [colors]="lineChartColors1" [chartType]="lineChartType"></canvas> -->
                            <canvas id="canvasforGL" height="102vh">{{ glucoseChart }}</canvas>
                        </div>
                        <p class="timeText">As of 2 Months Ago</p>
                        <div style="border-bottom: solid 1px grey;">
                        </div>
                        <div class="cardFoot">
                            <div style="margin-left: auto; order: 2;">
                                <span class="fa fa-info-circle text-muted cursor-pointer" data-toggle="tooltip"
                                    data-html="true" title={{weightInfo}}></span>
                                &nbsp;
                                <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                                &nbsp;
                                <span class="fa fa-plus-square text-muted cursor-pointer"
                                    (click)="toggleContenteditableGlucose()"></span>
                                &nbsp;
                                <span class="fa fa-undo text-muted cursor-pointer" (click)="glucoseToggle()"></span>
                                &nbsp;

                            </div>
                        </div>
                    </div>
                </div>
                <div class="example-card">
                    <div class="cardHeader" style="background-color: rgb(233, 107, 107);">
                        <div>
                            <p>Cholesterol</p>
                        </div>
                        <i class="fa fa-x  {{cholesterolpresentedInfo}} cardHeaderIcon"></i>
                    </div>
                    <div style="background-color: rgb(206, 206, 206);">
                        <span class="fa {{  mesurementProvider }} text-muted cursor-pointer p-1"
                            style="font-size: 22px;"></span>
                        <div *ngIf="cholesterol" style="display: flex; align-items: center; margin-left: 20px;">
                            <!-- <p class="measurement">165</p>&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <p [attr.contenteditable]="contenteditable4" class="measurement font-weight-bold"
                                [textContent]="currentCholesterol"
                                (input)="currentCholesterol=$event.target.textContent">
                                {{currentCholesterol}}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                            <p class="unit">mg</p>
                            <span class="fa fa-arrow-up ml-2"
                                style="font-size: 104px !important; color: rgb(47, 73, 37);">
                            </span>
                        </div>
                        <div [style.display]="cholesterol ? 'none' : 'block'">
                            <canvas id="canvasForCL" height="102vh">{{ cholesterolChart }}</canvas>
                        </div>
                        <p class="timeText">As of 2 Months Ago</p>
                        <div style="border-bottom: solid 1px grey;">
                        </div>
                        <div class="cardFoot">
                            <div style="margin-left: auto; order: 2;">
                                <span class="fa fa-info-circle text-muted cursor-pointer" data-toggle="tooltip"
                                    data-html="true" title={{weightInfo}}></span>
                                &nbsp;
                                <span class="fa fa-share-alt text-muted cursor-pointer"></span>
                                &nbsp;
                                <span class="fa fa-plus-square text-muted cursor-pointer"
                                    (click)="toggleContenteditableCholestrol()"></span>
                                &nbsp;
                                <span class="fa fa-undo text-muted cursor-pointer" (click)="cholesterolToggle()"></span>
                                &nbsp;

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>