<div style="height: 600px; width: 100% !important;">
    <div style="display: flex; border-bottom: 2px solid grey;">
        <div style="width: 70%; font-weight: 900;" class="mt-2 bgWhite">Records for Andrew Yaun</div>

        <div style="float: right;">
            <mat-form-field>
                <input matInput type="text" placeholder="Find Patient" [formControl]="findType">
                <button mat-button matSuffix mat-icon-button (click)="findSearch()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div style="display: flex;">
        <mat-card class="example-card m-2 ch-1">
            <div class="dragDrop">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <!-- Drag and Drop Files here. -->
                        <button type="button" class="btn bgWhite" (click)="openFileSelector()">Drag and Drop here Or
                            Choose</button>
                    </ng-template>
                </ngx-file-drop>
                <div *ngFor="let item of files; let i=index" class="fileContent">
                    <span>{{ item.relativePath }}
                        <i (click)="deleteFile(item)" class="fa fa-trash cursor-pointer delete-file"></i>
                    </span>
                </div>
            </div>
            <mat-card-content (click)="addRecord(state)" class="btn cursor-pointer">
                <p class="mt-2 bgWhite btn btn-primary">
                    Add Record
                </p>
            </mat-card-content>
        </mat-card>

        <div *ngIf="state == 'Visits'">
            <div style="display: flex;">
                <mat-card class="example-card m-2"
                    *ngFor="let file of availableDocsForVisits | searchDocuments: searchText"
                    style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                    <div class="CardImage">
                        <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                    </div>
                    <mat-card-content style="font-size: 14px; margin-top: 8px;">
                        <p>
                            {{file['file_name']}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <span class="mr-2">
                            <i class="fa fa-comments text-muted cursor-pointer"></i>
                        </span>
                        <span>
                            <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div *ngIf="state == 'Imaging'">
            <div style="display: flex;">
                <mat-card class="example-card m-2"
                    *ngFor="let file of availableDocsForImaging | searchDocuments: searchText"
                    style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                    <div class="CardImage">
                        <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                    </div>
                    <mat-card-content style=" font-size: 14px; margin-top: 8px;">
                        <p>
                            {{file['file_name']}}
                        </p>

                    </mat-card-content>
                    <mat-card-actions>
                        <span class="mr-2">
                            <i class="fa fa-comments text-muted cursor-pointer"></i>
                        </span>
                        <span>
                            <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div *ngIf="state == 'Labs'">
            <div style="display: flex;">
                <mat-card class="example-card m-2"
                    *ngFor="let file of availableDocsForLabs | searchDocuments: searchText"
                    style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                    <div class="CardImage">
                        <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                    </div>
                    <mat-card-content style=" font-size: 14px; margin-top: 8px;">
                        <p>
                            {{file['file_name']}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <span class="mr-2">
                            <i class="fa fa-comments text-muted cursor-pointer"></i>
                        </span>
                        <span>
                            <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div *ngIf="state == 'Records'">
            <div style="display: flex;">
                <mat-card class="example-card m-2"
                    *ngFor="let file of availableDocsForRecords | searchDocuments: searchText"
                    style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                    <div class="CardImage">
                        <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                    </div>
                    <mat-card-content style=" font-size: 14px; margin-top: 8px;">
                        <p>
                            {{file['file_name']}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <span class="mr-2">
                            <i class="fa fa-comments text-muted cursor-pointer"></i>
                        </span>
                        <span>
                            <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>