<div class="container-fluid mt-5 mb-5">
    <!-- <div class="row" style="margin-top: 200px;">
        <div class="col">
            <mat-card class="bgCard">
                <mat-card-content>
                    <h3>
                        Sign Up
                    </h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </mat-card-content>
                <div style="float: right">
                    <span>Already have an Account? </span>
                    <button mat-raised-button class="btn-info" [routerLink]="['/']">Login</button>
                </div>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="signUpCard">
                <mat-card-content>
                    <form class="example-form">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" [formControl]="firstNameFormControl">
                                    <mat-error *ngIf="firstNameFormControl.hasError('required')">
                                        First Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" [formControl]="lastNameFormControl">
                                    <mat-error *ngIf="lastNameFormControl.hasError('required')">
                                        Last Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" [formControl]="emailFormControl">
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password"
                                        [formControl]="passwordFormControl">
                                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                                        Password is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Confirm Password" type="password"
                                        [formControl]="cfpasswordFormControl">
                                    <mat-error *ngIf="cfpasswordFormControl.hasError('required')">
                                        Confirm Password is <strong>required</strong>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="passwordFormControl != cfpasswordFormControl && !cfpasswordFormControl.hasError('required')">
                                        Passwords must be <strong>same</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div style="float: right; margin-top: 60px;">
                            <button mat-raised-button class="btn-primary" [routerLink]="['/home']">Sign Up</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div> -->
    <div>
        <div class="row text-center" style="display: flex; max-width: 68%; margin: auto;">
            <div class="twoCard" style="color: white; ">
                <div class=" text-right" style="margin-top: 310px; padding: 15px;">
                    Welcome to
                    <b>Traverse Healthcare</b>
                </div>
            </div>
            <div class=" twoCard text-center bg-light ">
                <div>
                    <div style="margin-top: 30px;">
                        <img src="../../assets/mainLogo.png" height="50px" width="50px" alt="">
                    </div>
                    <div style="margin-top: 20px;">
                        <h5>Sign up here</h5>
                    </div>
                    <div>
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="First Name" [formControl]="firstNameFormControl">
                                        <mat-error *ngIf="firstNameFormControl.hasError('required')">
                                            First Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <br> -->
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Last Name" [formControl]="lastNameFormControl">
                                        <mat-error *ngIf="lastNameFormControl.hasError('required')">
                                            Last Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <br> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Email" [formControl]="emailFormControl">
                                        <mat-error
                                            *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                            Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="emailFormControl.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <br> -->
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Username" [formControl]="userNameFormControl"
                                            (keyup)="userNameValidation(userNameFormControl.value)">
                                        <button mat-button style="color: red" *ngIf="userNameTaken == true" matSuffix
                                            mat-icon-button matTooltip="That username is taken. Try another.">
                                            <mat-icon>warning</mat-icon>
                                        </button>
                                        <button mat-button matSuffix mat-icon-button *ngIf="refresh && !userNameFormControl.hasError('required')"
                                            matTooltip="Loading" style="color: black;" class="spinner-border spinner-border-sm">
                                            <mat-icon >refresh</mat-icon>
                                            <!-- <div class="spinner-grow spinner-grow-sm" role="status">
                                             
                                            </div> -->
                                        </button>
                                        <button *ngIf="userNameTaken == false" mat-button style="color: green" matSuffix
                                            mat-icon-button matTooltip="That username is available.">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>
                                        <!-- <button mat-button style="color: red" *ngIf="usernameTake else usernameAvialable"
                                                        matSuffix mat-icon-button matTooltip="That username is taken. Try another.">
                                                        <mat-icon>warning</mat-icon>
                                                    </button>
                                                    <ng-template #usernameAvialable>
                                                        <button mat-button style="color: green" matSuffix mat-icon-button
                                                            matTooltip="That username is available.">
                                                            <mat-icon>check_circle</mat-icon>
                                                        </button>
                                                    </ng-template> -->
                                        <mat-error *ngIf="!userNameFormControl.hasError('required')">
                                            Please enter a valid UserName
                                        </mat-error>
                                        <!-- <mat-error *ngIf="userNameTaken">
                                                        That username is taken. Try another.
                                                    </mat-error> -->
                                        <!-- class="alert alert-danger" -->
                                        <!-- <div style="color: rgb(216, 18, 18); font-size: 8px;" *ngIf="userNameTaken">
                                                            That username is taken. Try another.
                                                        </div> -->
                                        <mat-error *ngIf="userNameFormControl.hasError('required')">
                                            UserName is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <!-- <span matPrefix>+1 &nbsp;</span> -->
                                        <input type="tel" matInput placeholder="Telephone"
                                            [formControl]="numberFormControl">
                                        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="DOB"
                                            (dateChange)="dateInput($event.value)" [formControl]="dateFormControl">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <!-- <br> -->
                                </div>                             
                            </div>
                            <!-- <br> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>Gender</mat-label>
                                        <mat-select [(value)]="selected" (selectionChange)="changeGender($event.value)">
                                            <mat-option value="male">Male</mat-option>
                                            <mat-option value="female">Female</mat-option>
                                            <mat-option value="other">Other</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <br> -->
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>Role</mat-label>
                                        <mat-select [(value)]="selectedd"
                                            (selectionChange)="changeClient($event.value)">
                                            <mat-option value="Consumer">Consumer</mat-option>
                                            <mat-option value="Provider">Provider</mat-option>
                                            <mat-option value="StakeHolder">StakeHolder</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Height" type="text"
                                            [formControl]="heightFormControl">
                                        <mat-error *ngIf="heightFormControl.hasError('required')">
                                            Height is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <br> -->
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Weight" type="text"
                                            [formControl]="weightFormControl">
                                        <mat-error *ngIf="weightFormControl.hasError('required')">
                                            Weight is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <br>
                            <br> -->

                            <!-- <br> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" type="password"
                                            [formControl]="passwordFormControl">
                                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <br> -->
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Confirm Password" type="password"
                                            [formControl]="cfpasswordFormControl">
                                        <mat-error *ngIf="cfpasswordFormControl.hasError('required')">
                                            Confirm Password is <strong>required</strong>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="passwordFormControl != cfpasswordFormControl && !cfpasswordFormControl.hasError('required')">
                                            Passwords must be <strong>same</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- <br> -->

                            <br>
                            <div>
                                <button mat-raised-button class="btn-secondary"
                                    (click)="register(firstNameFormControl, lastNameFormControl, userNameFormControl, numberFormControl, emailFormControl, passwordFormControl, heightFormControl, weightFormControl)"
                                    [disabled]="!(firstNameFormControl.valid && lastNameFormControl.valid && emailFormControl.valid && passwordFormControl.valid && cfpasswordFormControl.valid && userNameFormControl.valid)">Sign
                                    Up <div *ngIf="signUpSuccess" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div></button>
                                <!-- [routerLink]="['/home']" -->
                            </div>
                        </form>
                    </div>
                    <div>
                        <div class="text-center mt-2">
                            <span>Already have an Account? </span>
                            <button mat-raised-button class="btn-secondary" [routerLink]="['/']">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="card-body">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" formControlName="fname" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                        <div *ngIf="f.fname.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" formControlName="lname" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
                    <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                        <div *ngIf="f.lname.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email Id is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" formControlName="cfpassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.cfpassword.errors }" />
                    <div *ngIf="submitted && f.cfpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.cfpassword.errors.required">Password is required</div>
                        <div *ngIf="f.password != f.cfpassword">Passwords must be same</div>
                    </div>
                </div>
                <button [disabled]="loading" type="submit" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Sign Up
                </button>
                <div style="float: right">
                    <span style="font-size: 14px">Already have an Account?  </span>
                    <button [disabled]="loading" type="button" [routerLink]="['/']"  class="btn btn-secondary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form> 
         </div> -->
</div>