  <div>
      <div class="input-group md-form form-sm form-2 pl-0">
          <!-- <mat-form-field style="color: black; width: 100%;">
              <input matInput placeholder="Medicine Name" [formControl]="medName" required>
          </mat-form-field> -->
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Find document by name, date, type, etc..." [formControl]="findType">
            <button mat-button matSuffix mat-icon-button  (click)="findSearch()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <!-- <input class="form-control my-0 py-1" [(ngModel)]="searchText" type="text"
              placeholder="Find document by name, date, type, etc..." aria-label="Search"> -->
          <!-- <div class="input-group-append">
              <span class="input-group-text "><i class="fa fa-search" aria-hidden="true"></i></span>
          </div> -->
      </div>
      <!-- <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button> -->
      <!-- </form> -->
      <div style="display: flex;">
          <mat-card class="example-card m-2">
              <div class="dragDrop">
                  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" accept="image/*"
                      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" multiple="true">
                      <!-- <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        Drag and Drop Files here.
                          <i class="fa fa-arrows-alt"></i>
                          <div style=" background-image: url('../assets/icons-home/motion01.png')"> </div> -->
                      <!-- <button type="button" class="btn" (click)="openFileSelector()">Browse</button> 
                      </ng-template> -->
                      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                          <!-- Drag and Drop Files here. -->
                          <button type="button" class="btn bgWhite" (click)="openFileSelector()">Drag and Drop here Or
                              Choose</button>
                      </ng-template>
                  </ngx-file-drop>
                  <div *ngFor="let item of files; let i=index" class="fileContent">
                      <span>{{ item.relativePath }}
                          <i (click)="deleteFile(item)" class="fa fa-trash cursor-pointer delete-file"></i>
                      </span>
                  </div>
              </div>
              <mat-card-content (click)="addRecord(state)" class="btn cursor-pointer">
                  <p class="mt-2 bgWhite btn btn-primary">
                      Add Record
                  </p>
              </mat-card-content>
          </mat-card>
          <div *ngIf="state == 'Insurance'">
              <div style="display: flex;">
                  <mat-card class="example-card m-2"
                      *ngFor="let file of availableDocsForInsurance | searchDocuments: searchText"
                      style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                      <div class="CardImage">
                          <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                      </div>
                      <mat-card-content style="font-size: 14px; margin-top: 8px;">
                          <p>
                              {{file['fileName']}}
                          </p>
                      </mat-card-content>
                      <mat-card-actions>
                          <span class="mr-2">
                              <i class="fa fa-comments text-muted cursor-pointer"></i>
                          </span>
                          <span>
                              <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                          </span>
                      </mat-card-actions>
                  </mat-card>
              </div>
          </div>
          <div *ngIf="state == 'Travel'">
              <div style="display: flex;">
                  <mat-card class="example-card m-2"
                      *ngFor="let file of availableDocsForTravel | searchDocuments: searchText"
                      style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                      <div class="CardImage">
                          <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                      </div>
                      <mat-card-content style=" font-size: 14px; margin-top: 8px;">
                          <p>
                              {{file['fileName']}}
                          </p>

                      </mat-card-content>
                      <mat-card-actions>
                          <span class="mr-2">
                              <i class="fa fa-comments text-muted cursor-pointer"></i>
                          </span>
                          <span>
                              <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                          </span>
                      </mat-card-actions>
                  </mat-card>
              </div>
          </div>
          <div *ngIf="state == 'Family'">
              <div style="display: flex;">
                  <mat-card class="example-card m-2"
                      *ngFor="let file of availableDocsForFamily | searchDocuments: searchText"
                      style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                      <div class="CardImage">
                          <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                      </div>
                      <mat-card-content style=" font-size: 14px; margin-top: 8px;">
                          <p>
                              {{file['fileName']}}
                          </p>
                      </mat-card-content>
                      <mat-card-actions>
                          <span class="mr-2">
                              <i class="fa fa-comments text-muted cursor-pointer"></i>
                          </span>
                          <span>
                              <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                          </span>
                      </mat-card-actions>
                  </mat-card>
              </div>
          </div>
          <div *ngIf="state == 'Personal'">
              <div style="display: flex;">
                  <mat-card class="example-card m-2"
                      *ngFor="let file of availableDocsForPersonal | searchDocuments: searchText"
                      style="font-family: 'Montserrat', sans-serif; font-weight: 600;">
                      <div class="CardImage">
                          <img mat-card-md-image src="../../assets/healthRecord/doc.png" alt="Image Not Available">
                      </div>
                      <mat-card-content style=" font-size: 14px; margin-top: 8px;">
                          <p>
                              {{file['fileName']}}
                          </p>
                      </mat-card-content>
                      <mat-card-actions>
                          <span class="mr-2">
                              <i class="fa fa-comments text-muted cursor-pointer"></i>
                          </span>
                          <span>
                              <i class="fa fa-share-alt text-muted cursor-pointer"></i>
                          </span>
                      </mat-card-actions>
                  </mat-card>
              </div>
          </div>
      </div>
  </div>


  <!-- <ng-template #test>
      {{file.file_name}}
  </ng-template>

  <p *ngIf="file.relativePath; else test">
      {{file.relativePath}}
  </p> -->